# Yelp Fusion API - Training Data Pull 1/11/19

## Britt Allen, Bernard Kurka, Thomas Ludlow - NY-DSI-6

Figure out how to pull `price` and supporting data directly from Yelp using *Fusion API*.

### Resources

GitHub: 
 - https://github.com/Yelp/yelp-python
 - https://github.com/gfairchild/yelpapi *(Best library)*
  - https://github.com/gfairchild/yelpapi/blob/master/examples/examples.py

Endpoint Documentation: https://www.yelp.com/developers/documentation/v3/business

Using regular search, a location-based query is formatted like this:
`https://www.yelp.com/search?find_loc=10128`

```
My App
Client ID
ea2TodAq4YX-4W3lzSJrcA

API Key
21Pt2l8__qgIdL0ZpgYC_yWblJ_O8_vJ3_-tIybHDyuQl9oVBXAzAXQWqMmIrz7idLyc7owv4-lfSON0QjKJN4pvQei4rUQAGSZcGcVTQc4HtBseUcztUPkVrAItXHYx
```

### Libraries

In [3]:
import numpy as np
import pandas as pd
import json
import time
from yelpapi import YelpAPI

## Search query to dataframe

In [4]:
def query_to_df(loc_in, cat_in=['restaurants','shopping','localservices'], 
                sort_in='distance', limit_in=50, 
                cols=['categories','alias','city','state','zip_code','price','review_count','latitude','longitude']):
    """Available arguments:
    loc_in (str): location (zip, city, neighborhood, etc.)
    cat_in (list): categories - default is ['restaurants','shopping','localservices']
    sort_in (str): sort criterion of 'distance','best_match','review_count' - default is 'distance'
    limit_in (int): number of results to pull per category, max is 50 - default is 50
    cols (list): columns for dataframe, matching API results key names - default is
    ['categories','alias','city','state','zip_code','price','review_count','latitude','longitude']
    """
    
    # Set Yelp Fusion API Key and establish API connection
    api_key = '21Pt2l8__qgIdL0ZpgYC_yWblJ_O8_vJ3_-tIybHDyuQl9oVBXAzAXQWqMmIrz7idLyc7owv4-lfSON0QjKJN4pvQei4rUQAGSZcGcVTQc4HtBseUcztUPkVrAItXHYx'
    api_obj = YelpAPI(api_key, timeout_s=3.0)
    
    # Instantiate empty DataFrame with desired output columns
    output_df = pd.DataFrame(columns=['search_term']+cols)
    
    # Create iterable list of limit amounts <= 50 so that full limit argument is covered
    # ex. 70 -> [50,20]
    limit_list = []
    if limit_in > 50:
        req = limit_in  # req starts at limit argument and counts down by 50 until < 50
        while req > 50:
            limit_list.append(50)
            req -= 50
        limit_list.append(req)
    else:
        limit_list.append(limit_in) # if req < 50 append remaining amount to list
    
    # Loop through category argument list items
    for cat in cat_in:
        cat_df = pd.DataFrame(columns=['search_term']+cols) # Create empty DataFrame with addl col for category
        for j, limit in enumerate(limit_list): # Perform API pulls with all limits in limit_list
            
            # API call saved to json dict
            if cat=='none':
                response = api_obj.search_query(location=loc_in, sort_by=sort_in, limit=limit, offset=(j*50))
            else:
                response = api_obj.search_query(location=loc_in, categories=[cat], sort_by=sort_in, limit=limit, offset=(j*50))
            response_df = pd.DataFrame(response['businesses']) # Save business data to DataFrame
            
            # Create iteration DataFrame to process each API response (up to 50 results)
            iter_df = pd.DataFrame(columns=['search_term']+cols)
            iter_df['search_term'] = [cat for i in range(len(response_df))] # Add category value for each row

            # Iterate through each requested column argument and format for storage in output DataFrame
            for col_name in cols:
                # Convert list of categories into single comma-separated string
                if col_name == 'categories':
                    # Exception handling: not all responses include all categories
                    try:
                        for k, cell in enumerate(response_df['categories']):
                            iter_cat_str = ''
                            for d in cell:
                                iter_cat_str += str(d['alias']+', ')
                            iter_df.loc[k, 'categories'] = iter_cat_str[:-2] # Save final string, without final ', ' 
                    except:
                        pass
                elif col_name in ('city','state','zip_code'): # Access location data through 'location' key value
                    try:
                        iter_df[col_name] = [response_df['location'][i][col_name] for i in range(response_df.shape[0])]
                    except:
                        pass
                elif col_name in ('latitude','longitude'): # Access latitude/longitude through 'coordinates' key value
                    try:
                        iter_df[col_name] = [response_df['coordinates'][i][col_name] for i in range(response_df.shape[0])]
                    except:
                        pass
                else:
                    try:
                        iter_df[col_name] = response_df[col_name] # Anything else access directly
                    except:
                        pass
            cat_df = cat_df.append(iter_df)
        output_df = output_df.append(cat_df)
    output_df.index = range(output_df.shape[0])
    
    return output_df

In [55]:
test_df = query_to_df('10128', limit_in=70, cat_in=['restaurants'])

In [56]:
test_df.head()

,search_term,categories,alias,city,state,zip_code,price,review_count,latitude,longitude
0,restaurants,"catering, delis, grocery",3rd-avenue-garden-new-york,New York,NY,10128,$$,15,40.781930,-73.951940
1,restaurants,"wine_bars, southafrican, tapas",kaia-wine-bar-new-york,New York,NY,10128,$$,376,40.781900,-73.951970
2,restaurants,"japanese, korean",maroo-new-york,New York,NY,10128,$$,120,40.782476,-73.951333
3,restaurants,ramen,naruto-ramen-new-york,New York,NY,10128,$$,853,40.781170,-73.952500
4,restaurants,tradamerican,the-corner-restaurant-new-york,New York,NY,10128,$$$,13,40.782630,-73.951210

In [4]:
test_df.shape

(70, 10)

In [5]:
test_df.groupby('search_term').price.value_counts()

search_term  price
restaurants  $$       47
             $        14
             $$$       5
Name: price, dtype: int64

In [7]:
test_df.groupby('search_term').zip_code.value_counts()

search_term  zip_code
restaurants  10128       69
             10028        1
Name: zip_code, dtype: int64

## API Pull from List of ZIP codes and categories

In [17]:
zip_list = ['10128','19025']
cats = ['restaurants, shopping, localservices']

## RESET RESULTS DATAFRAME `api_data`

In [13]:
api_data = pd.DataFrame(columns=['zip','city','state','cat','pr_1','rv_1','pr_2','rv_2','pr_3','rv_3','pr_4','rv_4','avg_lat','avg_long'])

In [14]:
api_data.head()

Empty DataFrame
Columns: [zip, city, state, cat, pr_1, rv_1, pr_2, rv_2, pr_3, rv_3, pr_4, rv_4, avg_lat, avg_long]
Index: []

In [5]:
def api_pull(zip_list, cats, sort='best_match', limit=50):
    column_list = ['zip','city','state','cat',
                   'pr_1','rv_1','pr_2','rv_2',
                   'pr_3','rv_3','pr_4','rv_4',
                   'avg_lat','avg_long']
    
    api_data = pd.DataFrame(columns=column_list)
    
    for z in zip_list:
        df = query_to_df(z, cats, limit_in=limit, sort_in=sort)
        
        for c in cats:
            loop_df = pd.Series(index=column_list)
            in_zip = df[df.zip_code==z]

            loop_df['zip'] = z
            try:
                loop_df['city'] = in_zip.city[0]
                loop_df['state'] = in_zip.state[0]
            except: 
                pass
            loop_df['cat'] = c
            
            in_cat = in_zip[in_zip.search_term==c]
            
            loop_df['pr_1'] = in_cat[df.price=='$'].shape[0]
            loop_df['rv_1'] = in_cat[df.price=='$'].review_count.sum()
            loop_df['pr_2'] = in_cat[df.price=='$$'].shape[0]
            loop_df['rv_2'] = in_cat[df.price=='$$'].review_count.sum()
            loop_df['pr_3'] = in_cat[df.price=='$$$'].shape[0]
            loop_df['rv_3'] = in_cat[df.price=='$$$'].review_count.sum()
            loop_df['pr_4'] = in_cat[df.price=='$$$$'].shape[0]
            loop_df['rv_4'] = in_cat[df.price=='$$$$'].review_count.sum()

            loop_df['avg_lat'] = in_cat.latitude.mean()
            loop_df['avg_long'] = in_cat.longitude.mean()

            api_data = api_data.append(loop_df, ignore_index=True)
    
    api_data.zip = api_data.zip.astype(str)    
    return api_data

In [46]:
new_test = api_pull(zip_list, cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# Main Data Pull - Manhattan ZIPs, 100 best match, no category

In [6]:
nyc_zips = pd.read_csv('../nyc_zip.csv', header=None, names=['zip'], dtype={'zip':str})

In [7]:
nyc_zips.head()

     zip
0  10001
1  10002
2  10003
3  10004
4  10005

In [8]:
zips = nyc_zips.zip
cats = ['none']

In [11]:
yelp_manh_1 = api_pull(zips[:80], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [12]:
yelp_manh_1.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001.0,New York,NY,none,8,9740,28,29095,4,5507,0,0,40.747709,-73.990216
1,10002.0,NaN,NaN,none,18,15201,39,43425,4,4740,0,0,40.719057,-73.989387
2,10003.0,New York,NY,none,16,19139,54,91952,6,8836,3,5125,40.730866,-73.988554
3,10004.0,New York,NY,none,12,1980,26,10361,6,2128,2,1153,40.704432,-74.011839
4,10005.0,NaN,NaN,none,7,1425,11,2268,1,89,1,177,40.706222,-74.008576

In [13]:
yelp_manh_1.shape

(80, 14)

In [14]:
yelp_manh_2 = api_pull(zips[80:], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [15]:
yelp_manh_2.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10117.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
1,10118.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
2,10119.0,NaN,NaN,none,2,346,7,1807,0,0,0,0,40.751207,-73.992701
3,10120.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
4,10121.0,NaN,NaN,none,4,171,7,605,0,0,0,0,40.750130,-73.992074

In [16]:
yelp_manh_2.shape

(85, 14)

In [17]:
yelp_manh = yelp_manh_1.append(yelp_manh_2, ignore_index=True)

In [18]:
yelp_manh.reindex(axis=0)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001.0,New York,NY,none,8,9740,28,29095,4,5507,0,0,40.747709,-73.990216
1,10002.0,NaN,NaN,none,18,15201,39,43425,4,4740,0,0,40.719057,-73.989387
2,10003.0,New York,NY,none,16,19139,54,91952,6,8836,3,5125,40.730866,-73.988554
3,10004.0,New York,NY,none,12,1980,26,10361,6,2128,2,1153,40.704432,-74.011839
4,10005.0,NaN,NaN,none,7,1425,11,2268,1,89,1,177,40.706222,-74.008576
5,10006.0,New York,NY,none,16,1041,26,5108,4,389,0,0,40.708468,-74.013175
6,10007.0,New York,NY,none,7,1620,24,6247,5,1059,1,256,40.714133,-74.008538
7,10008.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
8,10009.0,NaN,NaN,none,8,8015,25,23741,5,4901,2,851,40.726357,-73.982569
9,10010.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
10,10011.0,New York,NY,none,6,7238,31,35070,13,15177,4,7461,40.740438,-73.999519
11,10012.0,NaN,NaN,none,10,11555,25,39106,18,21893,1,802,40.725745,-73.998898
12,10013.0,New York,NY,none,13,17716,30,29937,9,8041,2,942,40.718449,-74.000155
13,10014.0,New York,NY,none,8,9639,32,28717,16,15690,2,2536,40.733136,-74.003755
14,10015.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
15,10016.0,NaN,NaN,none,3,1299,36,26966,7,6431,1,897,40.745673,-73.981732
16,10017.0,New York,NY,none,4,2948,13,7082,13,11130,3,3914,40.752931,-73.974539
17,10018.0,NaN,NaN,none,7,4686,16,12166,1,451,3,3905,40.753234,-73.988197
18,10019.0,New York,NY,none,8,16103,31,36710,17,14430,10,12524,40.763036,-73.982844
19,10020.0,NaN,NaN,none,5,399,9,4451,8,3363,1,2672,40.759573,-73.980522
20,10021.0,New York,NY,none,3,631,23,10974,5,2834,6,2180,40.770059,-73.958933
21,10022.0,NaN,NaN,none,8,6335,29,20888,11,10496,5,3243,40.758215,-73.969045
22,10023.0,New York,NY,none,7,2548,30,20968,14,8552,4,2953,40.776346,-73.980791
23,10024.0,NaN,NaN,none,6,2456,59,36664,9,2816,1,316,40.785326,-73.976190
24,10025.0,NaN,NaN,none,16,5465,29,10871,1,403,0,0,40.798858,-73.967653
25,10026.0,New York,NY,none,23,735,53,14971,3,253,0,0,40.803283,-73.953226
26,10027.0,NaN,NaN,none,5,908,40,16819,4,3194,1,104,40.810885,-73.952122
27,10028.0,New York,NY,none,6,1874,35,16476,3,1465,1,82,40.776354,-73.953771
28,10029.0,New York,NY,none,29,2973,33,5430,2,1030,1,134,40.792434,-73.944214
29,10030.0,New York,NY,none,18,789,21,2465,1,104,0,0,40.818287,-73.943491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,10211.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
136,10212.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
137,10213.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
138,10242.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
139,10249.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
140,10256.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
141,10257.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
142,10258.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
143,10259.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
144,10260.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
145,10261.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
146,10265.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
147,10268.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
148,10269.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
149,10270.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
150,10271.0,New York,NY,none,3,114,0,0,1,523,0,0,40.708336,-74.010358
151,10272.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
152,10273.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
153,10274.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
154,10275.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
155,10276.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
156,10277.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
157,10278.0,NaN,NaN,none,0,0,0,0,0,0,0,0,40.715504,-74.004247
158,10279.0,NaN,NaN,none,2,113,1,67,0,0,0,0,40.712472,-74.008328
159,10280.0,NaN,NaN,none,2,130,8,924,1,60,0,0,40.709594,-74.016850
160,10281.0,New York,NY,none,2,234,4,352,3,248,0,0,40.711630,-74.015243
161,10282.0,New York,NY,none,1,22,10,2993,2,685,1,259,40.715570,-74.015258
162,10285.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
163,10286.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN
164,10292.0,NaN,NaN,none,0,0,0,0,0,0,0,0,NaN,NaN

In [19]:
yelp_manh['city'] = 'New York'
yelp_manh['state'] = 'NY'

In [20]:
yelp_manh.zip = yelp_manh.zip.str.split('.', expand=True)[0]

In [21]:
yelp_manh.zip = yelp_manh.zip.map(lambda x: '0'+str(x) if int(x) <= 9999 else x)

In [22]:
yelp_manh.sample(40)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
7,10008,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
3,10004,New York,NY,none,12,1980,26,10361,6,2128,2,1153,40.704432,-74.011839
85,10122,New York,NY,none,0,0,0,0,0,0,0,0,40.751865,-73.991707
106,10158,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
50,10069,New York,NY,none,1,45,0,0,0,0,0,0,40.776627,-73.989094
111,10163,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
80,10117,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
57,10087,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
155,10276,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
15,10016,New York,NY,none,3,1299,36,26966,7,6431,1,897,40.745673,-73.981732
78,10115,New York,NY,none,0,0,1,1,0,0,0,0,40.810977,-73.963930
81,10118,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
59,10094,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
30,10031,New York,NY,none,27,2000,38,8225,0,0,0,0,40.825105,-73.949599
152,10273,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
58,10090,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
48,10060,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
148,10269,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
17,10018,New York,NY,none,7,4686,16,12166,1,451,3,3905,40.753234,-73.988197
53,10079,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
132,10199,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
34,10035,New York,NY,none,8,437,12,2134,0,0,0,0,40.800662,-73.938803
145,10261,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
32,10033,New York,NY,none,37,1580,34,5224,1,2,0,0,40.849655,-73.936328
150,10271,New York,NY,none,3,114,0,0,1,523,0,0,40.708336,-74.010358
68,10105,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
135,10211,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
127,10179,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
10,10011,New York,NY,none,6,7238,31,35070,13,15177,4,7461,40.740438,-73.999519
121,10173,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
67,10104,New York,NY,none,1,142,1,238,0,0,0,0,40.760659,-73.979127
153,10274,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
164,10292,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
45,10047,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
149,10270,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN
123,10175,New York,NY,none,1,159,0,0,0,0,0,0,40.754024,-73.979756
69,10106,New York,NY,none,0,0,0,0,1,505,0,0,40.765226,-73.980665
113,10165,New York,NY,none,0,0,2,82,0,0,0,0,40.752212,-73.978515
28,10029,New York,NY,none,29,2973,33,5430,2,1030,1,134,40.792434,-73.944214
109,10161,New York,NY,none,0,0,0,0,0,0,0,0,NaN,NaN

ZIP Code Database: https://www.unitedstateszipcodes.org/zip-code-database/

In [23]:
zip_db = pd.read_csv('../Data/zip_code_database.csv', dtype={'zip':str})

In [24]:
zip_db.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,00501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,00544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,00601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,00602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,00603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [25]:
lat_map = {zip_db.zip[i]: zip_db.latitude[i] for i in range(zip_db.shape[0])}
long_map = {zip_db.zip[i]: zip_db.longitude[i] for i in range(zip_db.shape[0])}

In [37]:
yelp = yelp_manh[yelp_manh.pr_1 + yelp_manh.pr_2 + yelp_manh.pr_3 + yelp_manh.pr_4 > 0]

In [38]:
yelp.to_csv('../Data/yelp.csv', index=False)

# Main Data Pull - Manhattan ZIPs, 50 Best Match for Rest/Shop/Lcl Svc

In [4]:
nyc_zips = pd.read_csv('../nyc_zip.csv', header=None, names=['zip'], dtype={'zip':str})

In [5]:
nyc_zips.head()

     zip
0  10001
1  10002
2  10003
3  10004
4  10005

In [7]:
zips = nyc_zips.zip
cats = ['restaurants','shopping','localservices']

In [10]:
yelp_manh_1 = api_pull(zips[:80], cats)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [11]:
yelp_manh_1.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001.0,New York,NY,restaurants,6,9124,15,16306,2,3570,0,0,40.747900,-73.990748
1,10001.0,New York,NY,shopping,1,311,22,5811,2,201,0,0,40.749071,-73.990807
2,10001.0,New York,NY,localservices,0,0,5,847,0,0,0,0,40.749225,-73.991876
3,10002.0,NaN,NaN,restaurants,7,7448,24,30513,3,4269,0,0,40.719261,-73.989430
4,10002.0,NaN,NaN,shopping,5,409,13,1163,6,437,1,135,40.718379,-73.990161

In [12]:
yelp_manh_1.shape

(240, 14)

In [13]:
yelp_manh_2 = api_pull(zips[80:], cats)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [14]:
yelp_manh_2.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10117.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
1,10117.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,10117.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,10118.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
4,10118.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN

In [15]:
yelp_manh_2.shape

(255, 14)

In [16]:
yelp_manh = yelp_manh_1.append(yelp_manh_2, ignore_index=True)

In [21]:
yelp_manh.reindex(axis=0)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001.0,New York,NY,restaurants,6,9124,15,16306,2,3570,0,0,40.747900,-73.990748
1,10001.0,New York,NY,shopping,1,311,22,5811,2,201,0,0,40.749071,-73.990807
2,10001.0,New York,NY,localservices,0,0,5,847,0,0,0,0,40.749225,-73.991876
3,10002.0,NaN,NaN,restaurants,7,7448,24,30513,3,4269,0,0,40.719261,-73.989430
4,10002.0,NaN,NaN,shopping,5,409,13,1163,6,437,1,135,40.718379,-73.990161
5,10002.0,NaN,NaN,localservices,3,261,5,209,0,0,0,0,40.718603,-73.988761
6,10003.0,New York,NY,restaurants,8,12100,29,66493,3,6702,2,4192,40.730844,-73.988139
7,10003.0,New York,NY,shopping,6,2392,22,3836,5,1147,0,0,40.731217,-73.988863
8,10003.0,New York,NY,localservices,3,341,2,830,0,0,0,0,40.731231,-73.987854
9,10004.0,New York,NY,restaurants,6,1242,14,7096,4,1626,2,1150,40.704391,-74.011904
10,10004.0,New York,NY,shopping,0,0,1,44,0,0,0,0,40.704030,-74.009640
11,10004.0,New York,NY,localservices,1,117,1,18,0,0,0,0,40.705197,-74.014892
12,10005.0,NaN,NaN,restaurants,2,873,2,610,0,0,0,0,40.705798,-74.008580
13,10005.0,NaN,NaN,shopping,0,0,10,409,0,0,2,93,40.706532,-74.009633
14,10005.0,NaN,NaN,localservices,0,0,3,93,0,0,0,0,40.706566,-74.009020
15,10006.0,New York,NY,restaurants,9,896,20,4765,3,333,0,0,40.708479,-74.013236
16,10006.0,New York,NY,shopping,1,8,10,213,2,112,2,13,40.708155,-74.012780
17,10006.0,New York,NY,localservices,1,8,1,9,0,0,0,0,40.708037,-74.012926
18,10007.0,New York,NY,restaurants,4,1136,14,4360,4,949,0,0,40.714355,-74.008441
19,10007.0,New York,NY,shopping,2,85,7,1562,3,221,0,0,40.714075,-74.009570
20,10007.0,New York,NY,localservices,0,0,0,0,1,81,0,0,40.713517,-74.008812
21,10008.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
22,10008.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
23,10008.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
24,10009.0,NaN,NaN,restaurants,3,2949,13,15795,1,1069,1,414,40.726577,-73.982746
25,10009.0,NaN,NaN,shopping,3,1513,5,275,1,131,0,0,40.727990,-73.982255
26,10009.0,NaN,NaN,localservices,4,291,3,146,0,0,0,0,40.727622,-73.981393
27,10010.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
28,10010.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
29,10010.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,10276.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
466,10276.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
467,10276.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,40.731843,-73.990196
468,10277.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
469,10277.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
470,10277.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
471,10278.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
472,10278.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
473,10278.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,40.715510,-74.004210
474,10279.0,NaN,NaN,restaurants,1,71,0,0,0,0,0,0,40.712709,-74.008401
475,10279.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
476,10279.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
477,10280.0,NaN,NaN,restaurants,2,129,7,858,1,60,0,0,40.710035,-74.016798
478,10280.0,NaN,NaN,shopping,0,0,1,35,0,0,0,0,40.707709,-74.016573
479,10280.0,NaN,NaN,localservices,2,84,0,0,1,1,1,23,40.708535,-74.017290
480,10281.0,New York,NY,restaurants,2,234,3,336,2,245,0,0,40.711665,-74.015295
481,10281.0,New York,NY,shopping,0,0,1,11,5,27,0,0,40.711703,-74.015230
482,10281.0,New York,NY,localservices,0,0,0,0,0,0,0,0,40.710973,-74.015393
483,10282.0,New York,NY,restaurants,1,22,8,2730,1,80,1,259,40.715402,-74.015052
484,10282.0,New York,NY,shopping,2,20,0,0,1,19,2,46,40.715658,-74.014424
485,10282.0,New York,NY,localservices,0,0,1,81,1,7,0,0,40.716208,-74.015416
486,10285.0,NaN,NaN,restaurants,0,0,1,94,0,0,0,0,40.713087,-74.016084
487,10285.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
488,10285.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
489,10286.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
490,10286.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
491,10286.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
492,10292.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
493,10292.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
494,10292.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [23]:
yelp_manh['city'] = 'New York'
yelp_manh['state'] = 'NY'

In [24]:
yelp_manh.zip = yelp_manh.zip.str.split('.', expand=True)[0]

In [25]:
yelp_manh.zip = yelp_manh.zip.map(lambda x: '0'+str(x) if int(x) <= 9999 else x)

In [26]:
yelp_manh.sample(40)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
365,10173,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
479,10280,New York,NY,localservices,2,84,0,0,1,1,1,23,40.708535,-74.017290
214,10108,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
54,10019,New York,NY,restaurants,1,9081,19,27836,9,7599,6,9652,40.764150,-73.983546
189,10099,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
399,10200,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
143,10055,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,10010,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
217,10109,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
403,10203,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
146,10060,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
360,10172,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.755475,-73.974805
311,10155,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
260,10123,New York,NY,localservices,0,0,0,0,0,0,0,0,40.751408,-73.990678
354,10170,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
203,10104,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
69,10024,New York,NY,restaurants,1,358,38,29655,6,1831,0,0,40.785598,-73.975996
342,10166,New York,NY,restaurants,1,7,3,524,2,449,0,0,40.753945,-73.976580
451,10271,New York,NY,shopping,0,0,0,0,1,10,0,0,40.708230,-74.010560
58,10020,New York,NY,shopping,0,0,2,607,1,107,0,0,40.758763,-73.978629
383,10179,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
231,10114,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
357,10171,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
364,10173,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
244,10118,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
94,10032,New York,NY,shopping,11,53,17,246,2,32,1,2,40.838577,-73.940920
367,10174,New York,NY,shopping,0,0,1,58,0,0,1,39,40.752029,-73.975336
407,10211,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
93,10032,New York,NY,restaurants,25,2113,12,2228,0,0,0,0,40.839582,-73.940891
55,10019,New York,NY,shopping,1,145,9,1357,4,596,1,486,40.764674,-73.983047
320,10158,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
324,10160,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
343,10166,New York,NY,shopping,0,0,0,0,2,10,0,0,40.753461,-73.976984
396,10199,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
398,10199,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
262,10124,New York,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
438,10265,New York,NY,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
18,10007,New York,NY,restaurants,4,1136,14,4360,4,949,0,0,40.714355,-74.008441
317,10157,New York,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
19,10007,New York,NY,shopping,2,85,7,1562,3,221,0,0,40.714075,-74.009570

ZIP Code Database: https://www.unitedstateszipcodes.org/zip-code-database/

In [27]:
zip_db = pd.read_csv('../Data/zip_code_database.csv', dtype={'zip':str})

In [28]:
zip_db.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,00501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,00544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,00601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,00602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,00603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [29]:
lat_map = {zip_db.zip[i]: zip_db.latitude[i] for i in range(zip_db.shape[0])}
long_map = {zip_db.zip[i]: zip_db.longitude[i] for i in range(zip_db.shape[0])}

In [30]:
yelp_manh['avg_lat'] = yelp_manh.zip.map(lambda x: lat_map[x])
yelp_manh['avg_long'] = yelp_manh.zip.map(lambda x: long_map[x])

In [31]:
yelp_manh.to_csv('../Data/yelp_manh.csv', index=False)

## Neighbor functions for Regression modeling

In [7]:
def get_neighbor_data(zip_in, cats=['restaurants, shopping, localservices']):
    column_list = ['zip','city','state','cat',
                   'pr_1','rv_1','pr_2','rv_2',
                   'pr_3','rv_3','pr_4','rv_4',
                   'avg_lat','avg_long']
    
    neighbors = query_to_df(zip_in, cats, sort_in='best_match', limit_in=50)
    n_zips = neighbors[neighbors.zip_code!=zip_in].zip_code.unique()
    print(zip_in)
    print(n_zips)
    print('')
    n_df = pd.DataFrame(columns=column_list)
    for z in n_zips:
        z_df = api_pull(z, cats, limit=50)
        n_df = n_df.append(z_df)

    return n_df

In [8]:
def pull_zip_w_neighbors(zip_in, cats=['restaurants', 'shopping', 'localservices'], limit_in=150):
    column_list = ['zip','city','state','cat',
                   'pr_1','rv_1','pr_2','rv_2',
                   'pr_3','rv_3','pr_4','rv_4',
                   'avg_lat','avg_long','n_pr_1',
                   'n_rv_1','n_pr_2','n_rv_2',
                   'n_pr_3','n_rv_3','n_pr_4','n_rv_4']
    
    df = pd.DataFrame(columns=column_list)
    for z in zip_in:
        target_df = api_pull(z, cats, limit_in)
        n_df = get_neighbor_data(z, cats)
        target_df['n_pr_1'] = n_df['pr_1'].sum()
        target_df['n_rv_1'] = n_df['rv_1'].sum()
        target_df['n_pr_2'] = n_df['pr_2'].sum()
        target_df['n_rv_2'] = n_df['rv_2'].sum()
        target_df['n_pr_3'] = n_df['pr_3'].sum()
        target_df['n_rv_3'] = n_df['rv_3'].sum()
        target_df['n_pr_4'] = n_df['pr_4'].sum()
        target_df['n_rv_4'] = n_df['rv_4'].sum()
        df = df.append(target_df)
    return df

In [26]:
def get_neighbor_list(zip_in, cats=['restaurants', 'shopping', 'localservices']):
    n_list = {}
    for z in zip_in:
        neighbors = query_to_df(z, cats, sort_in='best_match', limit_in=50)
        n_list[z] = neighbors[neighbors.zip_code!=z].zip_code.unique()
    return n_list

In [9]:
zip_list = ['10128','19025']
cats = ['restaurants','shopping']

In [10]:
pull_zip_w_neighbors(zip_list, cats)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

10128
['10120' '10028' '10075' '10029']

19025
['19090' '19034' '19038' '19001' '19046' '19044' '19075' '19002' '19137']

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,...,avg_lat,avg_long,n_pr_1,n_rv_1,n_pr_2,n_rv_2,n_pr_3,n_rv_3,n_pr_4,n_rv_4
0,1.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,0.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,1.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,2.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
4,8.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
0,1.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
1,9.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
2,0.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
3,2.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
4,5.0,NaN,NaN,"restaurants, shopping, localservices",0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0

In [18]:
nyc_zips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 1 columns):
zip    165 non-null object
dtypes: object(1)
memory usage: 1.4+ KB

In [21]:
%%time
nyc_api_40 = api_pull(nyc_zips.zip[0:40], cats=['restaurants', 'shopping', 'localservices'], limit=150)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

CPU times: user 11 s, sys: 181 ms, total: 11.2 s
Wall time: 3min 50s

In [22]:
%%time
nyc_api_41_80 = api_pull(nyc_zips.zip[40:80], cats=['restaurants', 'shopping', 'localservices'], limit=150)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

CPU times: user 9.54 s, sys: 175 ms, total: 9.71 s
Wall time: 3min 21s

In [23]:
%%time
nyc_api_81_120 = api_pull(nyc_zips.zip[80:120], cats=['restaurants', 'shopping', 'localservices'], limit=150)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

CPU times: user 9.01 s, sys: 172 ms, total: 9.18 s
Wall time: 3min 39s

In [24]:
%%time
nyc_api_121_end = api_pull(nyc_zips.zip[120:], cats=['restaurants', 'shopping', 'localservices'], limit=150)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

CPU times: user 10.7 s, sys: 199 ms, total: 10.9 s
Wall time: 4min 20s

In [27]:
nyc_df = nyc_api_40

In [29]:
nyc_df = nyc_df.append(nyc_api_41_80)

In [30]:
nyc_df = nyc_df.append(nyc_api_81_120)

In [31]:
nyc_df = nyc_df.append(nyc_api_121_end)

In [32]:
nyc_df

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001.0,New York,NY,restaurants,47,4032,47,7811,1,195,3,76,40.749689,-73.993514
1,10001.0,New York,NY,shopping,9,35,52,1212,15,271,10,91,40.749305,-73.993129
2,10001.0,New York,NY,localservices,1,9,16,876,2,11,1,12,40.749581,-73.992892
3,10002.0,New York,NY,restaurants,51,11313,65,22793,3,790,2,325,40.718464,-73.989811
4,10002.0,New York,NY,shopping,18,182,42,1036,19,436,11,214,40.718233,-73.990031
5,10002.0,New York,NY,localservices,12,339,13,339,3,62,0,0,40.717862,-73.989638
6,10003.0,New York,NY,restaurants,40,9453,71,46659,7,4198,2,257,40.731164,-73.988603
7,10003.0,New York,NY,shopping,14,2713,57,2931,25,1134,5,75,40.731148,-73.989332
8,10003.0,New York,NY,localservices,12,434,20,1086,12,296,1,9,40.731351,-73.989617
9,10004.0,New York,NY,restaurants,47,2869,42,8986,4,1627,3,1159,40.704193,-74.011952
10,10004.0,New York,NY,shopping,0,0,13,143,6,116,2,5,40.704295,-74.011872
11,10004.0,New York,NY,localservices,2,142,2,34,1,35,0,0,40.704711,-74.012563
12,10005.0,New York,NY,restaurants,20,1630,15,1696,2,163,2,180,40.706003,-74.008624
13,10005.0,New York,NY,shopping,3,25,12,465,1,2,4,195,40.706139,-74.008940
14,10005.0,New York,NY,localservices,0,0,4,96,0,0,0,0,40.706341,-74.008895
15,10006.0,New York,NY,restaurants,14,1001,22,4872,3,333,0,0,40.708429,-74.013136
16,10006.0,New York,NY,shopping,1,8,10,213,2,112,2,13,40.708027,-74.012840
17,10006.0,New York,NY,localservices,1,8,1,9,0,0,0,0,40.708037,-74.012926
18,10007.0,New York,NY,restaurants,28,2389,45,6734,6,1072,3,363,40.714352,-74.008340
19,10007.0,New York,NY,shopping,7,103,21,329,18,403,2,31,40.713710,-74.009071
20,10007.0,New York,NY,localservices,1,7,5,47,1,81,1,9,40.713581,-74.008451
21,10008.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
22,10008.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
23,10008.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
24,10009.0,New York,NY,restaurants,37,4920,76,23505,10,3476,1,414,40.726697,-73.980995
25,10009.0,New York,NY,shopping,18,1738,43,1270,10,424,5,27,40.726918,-73.982039
26,10009.0,New York,NY,localservices,12,388,19,586,2,38,0,0,40.726247,-73.981358
27,10010.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
28,10010.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
29,10010.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,10276.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
106,10276.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
107,10276.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,40.731843,-73.990196
108,10277.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
109,10277.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
110,10277.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
111,10278.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
112,10278.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
113,10278.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,40.715510,-74.004210
114,10279.0,NaN,NaN,restaurants,1,71,0,0,0,0,0,0,40.712709,-74.008401
115,10279.0,NaN,NaN,shopping,0,0,1,10,0,0,0,0,40.712501,-74.007998
116,10279.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,40.712449,-74.008292
117,10280.0,Manhattan,NY,restaurants,2,129,7,858,1,60,0,0,40.710035,-74.016798
118,10280.0,Manhattan,NY,shopping,0,0,1,34,0,0,0,0,40.707709,-74.016573
119,10280.0,Manhattan,NY,localservices,2,84,0,0,1,1,1,23,40.708535,-74.017290
120,10281.0,New York,NY,restaurants,2,234,3,334,2,245,0,0,40.711665,-74.015295
121,10281.0,New York,NY,shopping,0,0,1,11,5,27,0,0,40.711703,-74.015230
122,10281.0,New York,NY,localservices,0,0,0,0,0,0,0,0,40.710973,-74.015393
123,10282.0,New York,NY,restaurants,1,22,8,2730,1,80,1,259,40.715402,-74.015052
124,10282.0,New York,NY,shopping,2,20,0,0,1,19,2,45,40.715658,-74.014424
125,10282.0,New York,NY,localservices,0,0,1,81,1,7,0,0,40.716208,-74.015416
126,10285.0,NaN,NaN,restaurants,0,0,1,94,0,0,0,0,40.713087,-74.016084
127,10285.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
128,10285.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
129,10286.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
130,10286.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
131,10286.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
132,10292.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
133,10292.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
134,10292.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

# API Pulls

In [33]:
nyc_df.zip = nyc_df.zip.str.split('.', expand=True)[0]

In [34]:
nyc_df.zip = nyc_df.zip.map(lambda x: '0'+str(x) if int(x) <= 9999 else x)

In [35]:
nyc_df.state = 'NY'

In [36]:
nyc_df.city = 'New York'

In [37]:
nyc_df.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10001,New York,NY,restaurants,47,4032,47,7811,1,195,3,76,40.749689,-73.993514
1,10001,New York,NY,shopping,9,35,52,1212,15,271,10,91,40.749305,-73.993129
2,10001,New York,NY,localservices,1,9,16,876,2,11,1,12,40.749581,-73.992892
3,10002,New York,NY,restaurants,51,11313,65,22793,3,790,2,325,40.718464,-73.989811
4,10002,New York,NY,shopping,18,182,42,1036,19,436,11,214,40.718233,-73.990031

ZIP Code Database: https://www.unitedstateszipcodes.org/zip-code-database/

In [39]:
zip_db = pd.read_csv('../Data/zip_code_database.csv', dtype={'zip':str})

In [40]:
zip_db.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,00501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,00544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,00601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,00602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,00603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [41]:
lat_map = {zip_db.zip[i]: zip_db.latitude[i] for i in range(zip_db.shape[0])}
long_map = {zip_db.zip[i]: zip_db.longitude[i] for i in range(zip_db.shape[0])}

In [45]:
lat_nulls = nyc_df[nyc_df.avg_lat.isnull()].index
long_nulls = nyc_df[nyc_df.avg_long.isnull()].index

In [47]:
nyc_df.to_csv('./nyc_df_orig_lat_long.csv', index=False)

In [49]:
nyc_df['avg_lat'] = nyc_df.zip.map(lambda x: lat_map[x])
nyc_df['avg_long'] = nyc_df.zip.map(lambda x: long_map[x])

In [50]:
nyc_df.sample(50)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
29,10126,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
95,10032,New York,NY,localservices,6,49,5,33,3,26,0,0,40.84,-73.94
65,10153,New York,NY,localservices,0,0,0,0,1,982,0,0,40.76,-73.97
2,10117,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
67,10023,New York,NY,shopping,7,54,61,1849,44,1386,1,10,40.78,-73.98
89,10270,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
107,10112,New York,NY,localservices,0,0,1,14,0,0,0,0,40.76,-73.98
13,10121,New York,NY,shopping,0,0,1,5,0,0,0,0,40.71,-73.99
74,10156,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
90,10107,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
121,10281,New York,NY,shopping,0,0,1,11,5,27,0,0,40.71,-73.99
87,10270,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
67,10154,New York,NY,shopping,0,0,0,0,0,0,0,0,40.76,-73.97
76,10102,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-73.99
80,10103,New York,NY,localservices,0,0,0,0,0,0,0,0,40.76,-73.98
27,10065,New York,NY,restaurants,14,901,47,8943,19,3505,5,2041,40.76,-73.96
47,10081,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
48,10017,New York,NY,restaurants,42,3299,44,8796,7,3918,2,1061,40.75,-73.97
54,10090,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
89,10030,New York,NY,localservices,4,22,4,40,0,0,0,0,40.82,-73.94
108,10277,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
18,10123,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
59,10020,New York,NY,localservices,1,20,0,0,1,29,0,0,40.76,-73.98
20,10007,New York,NY,localservices,1,7,5,47,1,81,1,9,40.71,-74.01
54,10150,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
115,10039,New York,NY,shopping,2,13,4,42,0,0,2,5,40.83,-73.94
18,10048,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-74.01
50,10082,New York,NY,localservices,0,0,0,0,0,0,0,0,40.77,-73.98
97,10164,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-73.99
117,10280,New York,NY,restaurants,2,129,7,858,1,60,0,0,40.71,-74.02
13,10046,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-74.01
114,10279,New York,NY,restaurants,1,71,0,0,0,0,0,0,40.71,-74.01
54,10242,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.71,-73.99
12,10005,New York,NY,restaurants,20,1630,15,1696,2,163,2,180,40.71,-74.01
41,10131,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
11,10045,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
16,10047,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-74.01
111,10169,New York,NY,restaurants,1,31,14,1529,0,0,1,110,40.75,-73.98
37,10013,New York,NY,shopping,11,129,44,1842,27,754,14,141,40.72,-74.00
100,10274,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-73.99
35,10197,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-74.00
64,10153,New York,NY,shopping,0,0,1,5,2,995,2,6,40.76,-73.97
101,10274,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
77,10261,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
110,10113,New York,NY,localservices,0,0,0,0,0,0,0,0,40.71,-73.99
2,10172,New York,NY,localservices,0,0,0,0,0,0,0,0,40.76,-73.97
51,10149,New York,NY,restaurants,0,0,0,0,0,0,0,0,40.76,-73.98
32,10069,New York,NY,localservices,0,0,0,0,0,0,0,0,40.78,-73.99
28,10126,New York,NY,shopping,0,0,0,0,0,0,0,0,40.71,-73.99
12,10121,New York,NY,restaurants,2,150,6,549,0,0,0,0,40.71,-73.99

In [51]:
nyc_df.isnull().sum()

zip         0
city        0
state       0
cat         0
pr_1        0
rv_1        0
pr_2        0
rv_2        0
pr_3        0
rv_3        0
pr_4        0
rv_4        0
avg_lat     0
avg_long    0
dtype: int64

In [52]:
nyc_df.to_csv('./nyc_df.csv', index=False)