# Yelp Fusion API - Training Data Pull 1/8/19

## Britt Allen, Bernard Kurka, Thomas Ludlow - NY-DSI-6

Figure out how to pull `price` and supporting data directly from Yelp using *Fusion API*.

### Resources

GitHub: 
 - https://github.com/Yelp/yelp-python
 - https://github.com/gfairchild/yelpapi *(Best library)*
  - https://github.com/gfairchild/yelpapi/blob/master/examples/examples.py

Endpoint Documentation: https://www.yelp.com/developers/documentation/v3/business

Using regular search, a location-based query is formatted like this:
`https://www.yelp.com/search?find_loc=10128`

```
My App
Client ID
ea2TodAq4YX-4W3lzSJrcA

API Key
21Pt2l8__qgIdL0ZpgYC_yWblJ_O8_vJ3_-tIybHDyuQl9oVBXAzAXQWqMmIrz7idLyc7owv4-lfSON0QjKJN4pvQei4rUQAGSZcGcVTQc4HtBseUcztUPkVrAItXHYx
```

### Libraries

In [82]:
import numpy as np
import pandas as pd
import json
import time
from yelpapi import YelpAPI

## Search query to dataframe

In [54]:
def query_to_df(loc_in, cat_in=['restaurants','shopping','localservices'], 
                sort_in='distance', limit_in=50, 
                cols=['categories','alias','city','state','zip_code','price','review_count','latitude','longitude']):
    """Available arguments:
    loc_in (str): location (zip, city, neighborhood, etc.)
    cat_in (list): categories - default is ['restaurants','shopping','localservices']
    sort_in (str): sort criterion of 'distance','best_match','review_count' - default is 'distance'
    limit_in (int): number of results to pull per category, max is 50 - default is 50
    cols (list): columns for dataframe, matching API results key names - default is
    ['categories','alias','city','state','zip_code','price','review_count','latitude','longitude']
    """
    
    # Set Yelp Fusion API Key and establish API connection
    api_key = '21Pt2l8__qgIdL0ZpgYC_yWblJ_O8_vJ3_-tIybHDyuQl9oVBXAzAXQWqMmIrz7idLyc7owv4-lfSON0QjKJN4pvQei4rUQAGSZcGcVTQc4HtBseUcztUPkVrAItXHYx'
    api_obj = YelpAPI(api_key, timeout_s=3.0)
    
    # Instantiate empty DataFrame with desired output columns
    output_df = pd.DataFrame(columns=['search_term']+cols)
    
    # Create iterable list of limit amounts <= 50 so that full limit argument is covered
    # ex. 70 -> [50,20]
    limit_list = []
    if limit_in > 50:
        req = limit_in  # req starts at limit argument and counts down by 50 until < 50
        while req > 50:
            limit_list.append(50)
            req -= 50
        limit_list.append(req)
    else:
        limit_list.append(limit_in) # if req < 50 append remaining amount to list
    
    # Loop through category argument list items
    for cat in cat_in:
        cat_df = pd.DataFrame(columns=['search_term']+cols) # Create empty DataFrame with addl col for category
        for j, limit in enumerate(limit_list): # Perform API pulls with all limits in limit_list
            
            # API call saved to json dict
            response = api_obj.search_query(location=loc_in, categories=[cat], sort_by=sort_in, limit=limit, offset=(j*50))
            response_df = pd.DataFrame(response['businesses']) # Save business data to DataFrame
            
            # Create iteration DataFrame to process each API response (up to 50 results)
            iter_df = pd.DataFrame(columns=['search_term']+cols)
            iter_df['search_term'] = [cat for i in range(len(response_df))] # Add category value for each row

            # Iterate through each requested column argument and format for storage in output DataFrame
            for col_name in cols:
                # Convert list of categories into single comma-separated string
                if col_name == 'categories':
                    # Exception handling: not all responses include all categories
                    try:
                        for k, cell in enumerate(response_df['categories']):
                            iter_cat_str = ''
                            for d in cell:
                                iter_cat_str += str(d['alias']+', ')
                            iter_df.loc[k, 'categories'] = iter_cat_str[:-2] # Save final string, without final ', ' 
                    except:
                        pass
                elif col_name in ('city','state','zip_code'): # Access location data through 'location' key value
                    try:
                        iter_df[col_name] = [response_df['location'][i][col_name] for i in range(response_df.shape[0])]
                    except:
                        pass
                elif col_name in ('latitude','longitude'): # Access latitude/longitude through 'coordinates' key value
                    try:
                        iter_df[col_name] = [response_df['coordinates'][i][col_name] for i in range(response_df.shape[0])]
                    except:
                        pass
                else:
                    try:
                        iter_df[col_name] = response_df[col_name] # Anything else access directly
                    except:
                        pass
            cat_df = cat_df.append(iter_df)
        output_df = output_df.append(cat_df)
    output_df.index = range(output_df.shape[0])
    
    return output_df

In [55]:
test_df = query_to_df('10128', limit_in=70, cat_in=['restaurants'])

In [56]:
test_df.head()

,search_term,categories,alias,city,state,zip_code,price,review_count,latitude,longitude
0,restaurants,"catering, delis, grocery",3rd-avenue-garden-new-york,New York,NY,10128,$$,15,40.781930,-73.951940
1,restaurants,"wine_bars, southafrican, tapas",kaia-wine-bar-new-york,New York,NY,10128,$$,376,40.781900,-73.951970
2,restaurants,"japanese, korean",maroo-new-york,New York,NY,10128,$$,120,40.782476,-73.951333
3,restaurants,ramen,naruto-ramen-new-york,New York,NY,10128,$$,853,40.781170,-73.952500
4,restaurants,tradamerican,the-corner-restaurant-new-york,New York,NY,10128,$$$,13,40.782630,-73.951210

In [4]:
test_df.shape

(70, 10)

In [5]:
test_df.groupby('search_term').price.value_counts()

search_term  price
restaurants  $$       47
             $        14
             $$$       5
Name: price, dtype: int64

In [7]:
test_df.groupby('search_term').zip_code.value_counts()

search_term  zip_code
restaurants  10128       69
             10028        1
Name: zip_code, dtype: int64

## API Pull from List of ZIP codes and categories

In [17]:
zip_list = ['10128','19025']
cats = ['restaurants','shopping','localservices']

## RESET RESULTS DATAFRAME `api_data`

In [13]:
api_data = pd.DataFrame(columns=['zip','city','state','cat','pr_1','rv_1','pr_2','rv_2','pr_3','rv_3','pr_4','rv_4','avg_lat','avg_long'])

In [14]:
api_data.head()

Empty DataFrame
Columns: [zip, city, state, cat, pr_1, rv_1, pr_2, rv_2, pr_3, rv_3, pr_4, rv_4, avg_lat, avg_long]
Index: []

In [57]:
def api_pull(zip_list, cats, limit=50):
    column_list = ['zip','city','state','cat',
                   'pr_1','rv_1','pr_2','rv_2',
                   'pr_3','rv_3','pr_4','rv_4',
                   'avg_lat','avg_long']
    
    api_data = pd.DataFrame(columns=column_list)
    
    for z in zip_list:
        df = query_to_df(z, cats, limit_in=limit)
        
        for c in cats:
            loop_df = pd.Series(index=column_list)
            in_zip = df[df.zip_code==z]

            loop_df['zip'] = z
            try:
                loop_df['city'] = in_zip.city[0]
                loop_df['state'] = in_zip.state[0]
            except: 
                pass
            loop_df['cat'] = c
            
            in_cat = in_zip[in_zip.search_term==c]
            
            loop_df['pr_1'] = in_cat[df.price=='$'].shape[0]
            loop_df['rv_1'] = in_cat[df.price=='$'].review_count.sum()
            loop_df['pr_2'] = in_cat[df.price=='$$'].shape[0]
            loop_df['rv_2'] = in_cat[df.price=='$$'].review_count.sum()
            loop_df['pr_3'] = in_cat[df.price=='$$$'].shape[0]
            loop_df['rv_3'] = in_cat[df.price=='$$$'].review_count.sum()
            loop_df['pr_4'] = in_cat[df.price=='$$$$'].shape[0]
            loop_df['rv_4'] = in_cat[df.price=='$$$$'].review_count.sum()

            loop_df['avg_lat'] = in_cat.latitude.mean()
            loop_df['avg_long'] = in_cat.longitude.mean()

            api_data = api_data.append(loop_df, ignore_index=True)
    
    api_data.zip = api_data.zip.astype(str)    
    return api_data

In [46]:
new_test = api_pull(zip_list, cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [44]:
new_test

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,10128.0,New York,NY,restaurants,20,1694,58,15178,6,973,0,0,40.781171,-73.950907
1,10128.0,New York,NY,shopping,8,229,37,592,5,97,7,81,40.781718,-73.951206
2,10128.0,New York,NY,localservices,8,86,17,364,6,77,3,47,40.781682,-73.951285
3,19025.0,Dresher,PA,restaurants,9,176,5,354,0,0,0,0,40.139697,-75.167804
4,19025.0,Dresher,PA,shopping,0,0,2,11,0,0,0,0,40.145581,-75.168302
5,19025.0,Dresher,PA,localservices,0,0,0,0,0,0,0,0,40.141426,-75.168589

In [6]:
test_df.head()

,search_term,categories,alias,city,state,zip_code,price,review_count,latitude,longitude
0,restaurants,"catering, delis, grocery",3rd-avenue-garden-new-york,New York,NY,10128,$$,15,40.781930,-73.951940
1,restaurants,"wine_bars, southafrican, tapas",kaia-wine-bar-new-york,New York,NY,10128,$$,376,40.781900,-73.951970
2,restaurants,"japanese, korean",maroo-new-york,New York,NY,10128,$$,120,40.782476,-73.951333
3,restaurants,ramen,naruto-ramen-new-york,New York,NY,10128,$$,852,40.781170,-73.952500
4,restaurants,tradamerican,the-corner-restaurant-new-york,New York,NY,10128,$$$,13,40.782630,-73.951210

## List of Random ZIP codes

In [32]:
zips_to_test = pd.read_csv('./Data/random_1000_zips.csv')

In [33]:
zips_to_test.head()

  STATE  zipcode
0    AL    35016
1    AL    35071
2    AL    35210
3    AL    35674
4    AL    35677

In [34]:
zips_to_test.shape

(1000, 2)

In [37]:
zips_to_test.sample(50)

    STATE zipcode
987    WI   54441
507    MT   59414
315    KY   41862
555    NJ   07927
43     CA   90062
299    KY   40068
445    MN   56216
0      AL   35016
953    WA   99344
280    IA   52755
605    NY   12843
804    TN   37062
512    NE   68010
546    NJ   07046
734    PA   16030
628    NY   14710
706    OK   74333
819    TN   38355
916    VA   23967
211    IL   62668
352    ME   04617
717    OR   97106
694    OK   73080
943    WA   98544
829    TX   75840
39     AR   72633
285    KS   66743
743    PA   16501
954    WA   99350
78     CA   95004
520    NE   68812
739    PA   16132
449    MN   56303
431    MI   49953
985    WI   54173
14     AL   36605
420    MI   49265
498    MO   65650
952    WA   99025
290    KS   67223
259    IA   50651
138    FL   32653
279    IA   52753
589    NY   12065
617    NY   13809
441    MN   56080
9      AL   36426
118    CT   06078
180    ID   83211
67     CA   93518

In [36]:
zips_to_test['zipcode'] = zips_to_test.zipcode.map(lambda x: '0'+str(x) if x <= 9999 else x)

In [38]:
zips_to_test.zipcode = zips_to_test.zipcode.astype(str)

In [39]:
tl_zips = zips_to_test[500:]
tl_zips.shape

(500, 2)

In [40]:
tl_zips.head()

    STATE zipcode
500    MO   65733
501    MO   65768
502    MO   65772
503    MT   59001
504    MT   59074

In [41]:
tl_zips.sample(50)

    STATE zipcode
562    NJ   08081
949    WA   98828
736    PA   16037
526    NE   68958
930    WA   98031
833    TX   76011
554    NJ   07821
606    NY   12917
591    NY   12095
620    NY   13862
793    SD   57268
538    NH   03052
831    TX   75850
560    NJ   08073
523    NE   68935
987    WI   54441
617    NY   13809
654    ND   58384
829    TX   75840
531    NV   89130
625    NY   14203
637    NC   27830
783    SC   29113
551    NJ   07647
507    MT   59414
787    SC   29574
851    TX   77401
857    TX   77612
760    PA   17846
517    NE   68455
569    NM   87114
891    UT   84775
858    TX   77640
853    TX   77476
653    ND   58301
500    MO   65733
559    NJ   08066
573    NM   87942
830    TX   75845
942    WA   98512
536    NH   03032
594    NY   12136
932    WA   98101
691    OK   73021
646    NC   28643
705    OK   74131
745    PA   16661
867    TX   78254
643    NC   28425
852    TX   77433

# API Pulls

In [49]:
cats = ['restaurants','shopping','localservices']

In [61]:
tl_zips.head()

    STATE zipcode
500    MO   65733
501    MO   65768
502    MO   65772
503    MT   59001
504    MT   59074

In [62]:
first_20 = api_pull(tl_zips.zipcode[:20], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [64]:
first_20.shape

(60, 14)

In [65]:
first_20

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,65733.0,Protem,MO,restaurants,0,0,0,0,0,0,0,0,36.501162,-92.804624
1,65733.0,Protem,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,65733.0,Protem,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,65768.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
4,65768.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
5,65768.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
6,65772.0,Washburn,MO,restaurants,1,2,0,0,0,0,0,0,36.587369,-93.964885
7,65772.0,Washburn,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
8,65772.0,Washburn,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
9,59001.0,Absarokee,MT,restaurants,1,8,1,8,0,0,0,0,45.507814,-109.443925
10,59001.0,Absarokee,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
11,59001.0,Absarokee,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
12,59074.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
13,59074.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
14,59074.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
15,59215.0,Circle,MT,restaurants,0,0,1,4,0,0,0,0,47.417413,-105.588638
16,59215.0,Circle,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
17,59215.0,Circle,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
18,59241.0,Hinsdale,MT,restaurants,0,0,0,0,0,0,0,0,48.393960,-107.084650
19,59241.0,Hinsdale,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
20,59241.0,Hinsdale,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
21,59414.0,Black Eagle,MT,restaurants,0,0,3,87,0,0,0,0,47.525836,-111.278835
22,59414.0,Black Eagle,MT,shopping,0,0,0,0,0,0,0,0,47.529502,-111.279444
23,59414.0,Black Eagle,MT,localservices,0,0,0,0,0,0,0,0,47.529502,-111.279444
24,59731.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
25,59731.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
26,59731.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,59750.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
28,59750.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
29,59750.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
30,59820.0,Alberton,MT,restaurants,0,0,1,27,0,0,0,0,47.003327,-114.491325
31,59820.0,Alberton,MT,shopping,1,10,0,0,0,0,0,0,47.003350,-114.478060
32,59820.0,Alberton,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
33,59866.0,Saint Regis,MT,restaurants,4,83,1,39,0,0,0,0,47.297606,-115.096653
34,59866.0,Saint Regis,MT,shopping,1,50,0,0,1,1,0,0,47.315492,-115.063595
35,59866.0,Saint Regis,MT,localservices,0,0,0,0,0,0,0,0,47.300700,-115.095460
36,68010.0,Boys Town,NE,restaurants,0,0,0,0,0,0,0,0,41.262555,-96.126593
37,68010.0,Boys Town,NE,shopping,0,0,0,0,0,0,0,0,41.262555,-96.126593
38,68010.0,Boys Town,NE,localservices,0,0,0,0,0,0,0,0,41.253443,-96.134389
39,68047.0,Pender,NE,restaurants,0,0,1,1,0,0,0,0,42.111534,-96.705980
40,68047.0,Pender,NE,shopping,1,1,0,0,0,0,0,0,42.114225,-96.707341
41,68047.0,Pender,NE,localservices,0,0,0,0,0,0,0,0,NaN,NaN
42,68144.0,Omaha,NE,restaurants,41,1077,24,1892,1,173,0,0,41.235192,-96.119771
43,68144.0,Omaha,NE,shopping,9,101,47,288,8,74,3,10,41.231707,-96.122419
44,68144.0,Omaha,NE,localservices,1,5,6,46,0,0,0,0,41.231717,-96.118715
45,68341.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
46,68341.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
47,68341.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
48,68431.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
49,68431.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
50,68431.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
51,68455.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
52,68455.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,40.813259,-95.920242
53,68455.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
54,68643.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
55,68643.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
56,68643.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
57,68757.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
58,68757.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
59,68757.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [66]:
tl_zip_df = first_20

In [67]:
second_80 = api_pull(tl_zips.zipcode[20:100], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [69]:
second_80.shape[0]

240

In [70]:
second_80.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,68812.0,Amherst,NE,restaurants,1,4,0,0,0,0,0,0,40.837580,-99.270960
1,68812.0,Amherst,NE,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,68812.0,Amherst,NE,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,68850.0,Lexington,NE,restaurants,9,136,3,71,0,0,0,0,40.770360,-99.742391
4,68850.0,Lexington,NE,shopping,1,1,1,6,1,5,0,0,40.765793,-99.741132

In [71]:
tl_zip_df = tl_zip_df.append(second_80, ignore_index=True)
tl_zip_df.index = range(tl_zip_df.shape[0])

In [72]:
tl_zip_df

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,65733.0,Protem,MO,restaurants,0,0,0,0,0,0,0,0,36.501162,-92.804624
1,65733.0,Protem,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,65733.0,Protem,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,65768.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
4,65768.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
5,65768.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
6,65772.0,Washburn,MO,restaurants,1,2,0,0,0,0,0,0,36.587369,-93.964885
7,65772.0,Washburn,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
8,65772.0,Washburn,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
9,59001.0,Absarokee,MT,restaurants,1,8,1,8,0,0,0,0,45.507814,-109.443925
10,59001.0,Absarokee,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
11,59001.0,Absarokee,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
12,59074.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
13,59074.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
14,59074.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
15,59215.0,Circle,MT,restaurants,0,0,1,4,0,0,0,0,47.417413,-105.588638
16,59215.0,Circle,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
17,59215.0,Circle,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
18,59241.0,Hinsdale,MT,restaurants,0,0,0,0,0,0,0,0,48.393960,-107.084650
19,59241.0,Hinsdale,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
20,59241.0,Hinsdale,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
21,59414.0,Black Eagle,MT,restaurants,0,0,3,87,0,0,0,0,47.525836,-111.278835
22,59414.0,Black Eagle,MT,shopping,0,0,0,0,0,0,0,0,47.529502,-111.279444
23,59414.0,Black Eagle,MT,localservices,0,0,0,0,0,0,0,0,47.529502,-111.279444
24,59731.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
25,59731.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
26,59731.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,59750.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
28,59750.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
29,59750.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,12070.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
271,12070.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,42.979766,-74.276816
272,12070.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,42.956840,-74.233090
273,12095.0,Johnstown,NY,restaurants,9,104,11,167,0,0,0,0,43.012338,-74.365691
274,12095.0,Johnstown,NY,shopping,3,10,1,6,2,11,0,0,43.009419,-74.362951
275,12095.0,Johnstown,NY,localservices,0,0,1,1,0,0,0,0,43.012238,-74.357037
276,12108.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,43.461098,-74.438569
277,12108.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
278,12108.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
279,12122.0,Middleburgh,NY,restaurants,4,27,5,90,0,0,0,0,42.600060,-74.334633
280,12122.0,Middleburgh,NY,shopping,0,0,2,10,0,0,0,0,42.596737,-74.345565
281,12122.0,Middleburgh,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
282,12136.0,Old Chatham,NY,restaurants,0,0,2,60,0,0,0,0,42.454762,-73.558259
283,12136.0,Old Chatham,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
284,12136.0,Old Chatham,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
285,12154.0,NaN,NaN,restaurants,1,9,4,72,0,0,0,0,42.912339,-73.582424
286,12154.0,NaN,NaN,shopping,0,0,1,1,0,0,0,0,42.899367,-73.616834
287,12154.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,42.912451,-73.673036
288,12418.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
289,12418.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,42.374649,-74.122993
290,12418.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
291,12469.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
292,12469.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
293,12469.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
294,12501.0,Amenia,NY,restaurants,1,34,3,84,2,148,0,0,41.854152,-73.559876
295,12501.0,Amenia,NY,shopping,1,1,0,0,0,0,0,0,41.852340,-73.555604
296,12501.0,Amenia,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
297,12502.0,NaN,NaN,restaurants,2,85,1,21,0,0,0,0,42.120620,-73.718530
298,12502.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
299,12502.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [73]:
first_20.to_csv('zips_500_519.csv', index=False)

In [74]:
tl_zip_100_199 = api_pull(tl_zips.zipcode[100:200], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [75]:
tl_zip_100_199

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,12531.0,Holmes,NY,restaurants,1,11,0,0,0,0,0,0,41.518810,-73.696010
1,12531.0,Holmes,NY,shopping,0,0,0,0,0,0,0,0,41.522060,-73.688500
2,12531.0,Holmes,NY,localservices,0,0,0,0,0,0,0,0,41.527733,-73.646484
3,12563.0,Patterson,NY,restaurants,3,30,9,499,0,0,0,0,41.500319,-73.584300
4,12563.0,Patterson,NY,shopping,0,0,5,18,1,3,0,0,41.509317,-73.585370
5,12563.0,Patterson,NY,localservices,0,0,0,0,0,0,0,0,41.499751,-73.588353
6,12592.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
7,12592.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
8,12592.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
9,12732.0,Eldred,NY,restaurants,0,0,2,15,0,0,0,0,41.527291,-74.885411
10,12732.0,Eldred,NY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
11,12732.0,Eldred,NY,localservices,0,0,0,0,0,0,0,0,NaN,NaN
12,12834.0,Greenwich,NY,restaurants,8,72,1,6,1,43,0,0,43.100310,-73.505385
13,12834.0,Greenwich,NY,shopping,1,5,4,7,0,0,1,3,43.079465,-73.508451
14,12834.0,Greenwich,NY,localservices,0,0,0,0,0,0,0,0,43.056193,-73.522193
15,12843.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
16,12843.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
17,12843.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
18,12917.0,Burke,NY,restaurants,1,5,0,0,0,0,0,0,44.921137,-74.145352
19,12917.0,Burke,NY,shopping,0,0,0,0,0,0,0,0,44.919710,-74.172280
20,12917.0,Burke,NY,localservices,0,0,0,0,0,0,0,0,44.917351,-74.194252
21,13029.0,Brewerton,NY,restaurants,4,71,1,12,0,0,0,0,43.234180,-76.135444
22,13029.0,Brewerton,NY,shopping,1,13,1,2,0,0,0,0,43.224857,-76.136248
23,13029.0,Brewerton,NY,localservices,0,0,0,0,0,0,0,0,43.237770,-76.140511
24,13034.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
25,13034.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
26,13034.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,13061.0,Erieville,NY,restaurants,1,25,0,0,0,0,0,0,42.876438,-75.759409
28,13061.0,Erieville,NY,shopping,0,0,1,2,0,0,0,0,42.898230,-75.771770
29,13061.0,Erieville,NY,localservices,0,0,0,0,0,0,0,0,42.852040,-75.755460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,45865.0,Minster,OH,restaurants,2,14,2,9,0,0,0,0,40.387949,-84.375397
271,45865.0,Minster,OH,shopping,0,0,3,10,0,0,0,0,40.367210,-84.369316
272,45865.0,Minster,OH,localservices,0,0,0,0,0,0,0,0,NaN,NaN
273,73021.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
274,73021.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
275,73021.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
276,73027.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
277,73027.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
278,73027.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
279,73059.0,Minco,OK,restaurants,1,7,0,0,0,0,0,0,35.310648,-97.944883
280,73059.0,Minco,OK,shopping,1,1,0,0,0,0,0,0,35.313830,-97.946341
281,73059.0,Minco,OK,localservices,0,0,0,0,0,0,0,0,35.304429,-97.949866
282,73080.0,NaN,NaN,restaurants,5,107,4,44,0,0,0,0,35.003208,-97.368198
283,73080.0,NaN,NaN,shopping,2,4,2,3,0,0,0,0,35.009720,-97.365263
284,73080.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,35.023490,-97.366132
285,73095.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
286,73095.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
287,73095.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
288,73128.0,Oklahoma City,OK,restaurants,12,139,15,605,0,0,0,0,35.461174,-97.633271
289,73128.0,Oklahoma City,OK,shopping,0,0,11,83,7,26,0,0,35.460356,-97.630756
290,73128.0,Oklahoma City,OK,localservices,0,0,2,14,0,0,0,0,35.457010,-97.630764
291,73440.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
292,73440.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,33.983400,-96.911030
293,73440.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
294,73505.0,Lawton,OK,restaurants,35,812,34,1403,0,0,1,19,34.619982,-98.449271
295,73505.0,Lawton,OK,shopping,8,39,29,194,10,37,1,4,34.619631,-98.448233
296,73505.0,Lawton,OK,localservices,3,16,2,6,1,4,0,0,34.617157,-98.438756
297,73570.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
298,73570.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
299,73570.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [76]:
tl_zip_df = tl_zip_df.append(tl_zip_100_199, ignore_index=True)
tl_zip_df.index = range(tl_zip_df.shape[0])

In [77]:
tl_zip_df

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,65733.0,Protem,MO,restaurants,0,0,0,0,0,0,0,0,36.501162,-92.804624
1,65733.0,Protem,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,65733.0,Protem,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,65768.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
4,65768.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
5,65768.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
6,65772.0,Washburn,MO,restaurants,1,2,0,0,0,0,0,0,36.587369,-93.964885
7,65772.0,Washburn,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
8,65772.0,Washburn,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
9,59001.0,Absarokee,MT,restaurants,1,8,1,8,0,0,0,0,45.507814,-109.443925
10,59001.0,Absarokee,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
11,59001.0,Absarokee,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
12,59074.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
13,59074.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
14,59074.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
15,59215.0,Circle,MT,restaurants,0,0,1,4,0,0,0,0,47.417413,-105.588638
16,59215.0,Circle,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
17,59215.0,Circle,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
18,59241.0,Hinsdale,MT,restaurants,0,0,0,0,0,0,0,0,48.393960,-107.084650
19,59241.0,Hinsdale,MT,shopping,0,0,0,0,0,0,0,0,NaN,NaN
20,59241.0,Hinsdale,MT,localservices,0,0,0,0,0,0,0,0,NaN,NaN
21,59414.0,Black Eagle,MT,restaurants,0,0,3,87,0,0,0,0,47.525836,-111.278835
22,59414.0,Black Eagle,MT,shopping,0,0,0,0,0,0,0,0,47.529502,-111.279444
23,59414.0,Black Eagle,MT,localservices,0,0,0,0,0,0,0,0,47.529502,-111.279444
24,59731.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
25,59731.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
26,59731.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,59750.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
28,59750.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
29,59750.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,45865.0,Minster,OH,restaurants,2,14,2,9,0,0,0,0,40.387949,-84.375397
571,45865.0,Minster,OH,shopping,0,0,3,10,0,0,0,0,40.367210,-84.369316
572,45865.0,Minster,OH,localservices,0,0,0,0,0,0,0,0,NaN,NaN
573,73021.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
574,73021.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
575,73021.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
576,73027.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
577,73027.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
578,73027.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
579,73059.0,Minco,OK,restaurants,1,7,0,0,0,0,0,0,35.310648,-97.944883
580,73059.0,Minco,OK,shopping,1,1,0,0,0,0,0,0,35.313830,-97.946341
581,73059.0,Minco,OK,localservices,0,0,0,0,0,0,0,0,35.304429,-97.949866
582,73080.0,NaN,NaN,restaurants,5,107,4,44,0,0,0,0,35.003208,-97.368198
583,73080.0,NaN,NaN,shopping,2,4,2,3,0,0,0,0,35.009720,-97.365263
584,73080.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,35.023490,-97.366132
585,73095.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
586,73095.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
587,73095.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
588,73128.0,Oklahoma City,OK,restaurants,12,139,15,605,0,0,0,0,35.461174,-97.633271
589,73128.0,Oklahoma City,OK,shopping,0,0,11,83,7,26,0,0,35.460356,-97.630756
590,73128.0,Oklahoma City,OK,localservices,0,0,2,14,0,0,0,0,35.457010,-97.630764
591,73440.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
592,73440.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,33.983400,-96.911030
593,73440.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
594,73505.0,Lawton,OK,restaurants,35,812,34,1403,0,0,1,19,34.619982,-98.449271
595,73505.0,Lawton,OK,shopping,8,39,29,194,10,37,1,4,34.619631,-98.448233
596,73505.0,Lawton,OK,localservices,3,16,2,6,1,4,0,0,34.617157,-98.438756
597,73570.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
598,73570.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
599,73570.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [78]:
tl_zip_200_500 = api_pull(tl_zips.zipcode[200:], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [79]:
tl_zip_200_500

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,73722.0,Byron,OK,restaurants,0,0,0,0,0,0,0,0,36.900241,-98.358069
1,73722.0,Byron,OK,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,73722.0,Byron,OK,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,73742.0,Hennessey,OK,restaurants,2,9,2,7,0,0,0,0,36.105977,-97.898997
4,73742.0,Hennessey,OK,shopping,0,0,0,0,0,0,0,0,36.051781,-97.899981
5,73742.0,Hennessey,OK,localservices,0,0,0,0,0,0,0,0,NaN,NaN
6,73835.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
7,73835.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
8,73835.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
9,73841.0,Fort Supply,OK,restaurants,0,0,0,0,0,0,0,0,36.573359,-99.569699
10,73841.0,Fort Supply,OK,shopping,0,0,0,0,0,0,0,0,NaN,NaN
11,73841.0,Fort Supply,OK,localservices,0,0,0,0,0,0,0,0,NaN,NaN
12,74115.0,Tulsa,OK,restaurants,27,359,7,363,1,15,1,6,36.171414,-95.902167
13,74115.0,Tulsa,OK,shopping,3,10,4,11,5,15,0,0,36.169084,-95.904589
14,74115.0,Tulsa,OK,localservices,0,0,1,1,0,0,0,0,36.178050,-95.910536
15,74131.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
16,74131.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,36.061950,-96.068860
17,74131.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,36.044976,-96.077930
18,74333.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
19,74333.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
20,74333.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
21,74644.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
22,74644.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
23,74644.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
24,74734.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
25,74734.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
26,74734.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
27,74764.0,Valliant,OK,restaurants,1,4,1,4,0,0,0,0,34.002991,-95.093100
28,74764.0,Valliant,OK,shopping,0,0,0,0,0,0,0,0,34.002280,-95.094560
29,74764.0,Valliant,OK,localservices,0,0,0,0,0,0,0,0,34.004449,-95.092783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,54720.0,Altoona,WI,restaurants,2,33,4,86,0,0,0,0,44.803908,-91.451840
871,54720.0,Altoona,WI,shopping,0,0,0,0,1,3,0,0,44.808181,-91.459077
872,54720.0,Altoona,WI,localservices,0,0,0,0,0,0,0,0,44.801061,-91.432867
873,54754.0,Merrillan,WI,restaurants,1,5,0,0,1,18,0,0,44.427002,-90.783610
874,54754.0,Merrillan,WI,shopping,0,0,0,0,0,0,0,0,NaN,NaN
875,54754.0,Merrillan,WI,localservices,0,0,0,0,0,0,0,0,NaN,NaN
876,54850.0,NaN,NaN,restaurants,0,0,4,103,0,0,0,0,46.778413,-90.787014
877,54850.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,46.780144,-90.788095
878,54850.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,46.937100,-90.580980
879,54874.0,South Range,WI,restaurants,1,6,1,9,0,0,0,0,46.605013,-91.917121
880,54874.0,South Range,WI,shopping,0,0,0,0,0,0,0,0,NaN,NaN
881,54874.0,South Range,WI,localservices,0,0,0,0,0,0,0,0,NaN,NaN
882,54896.0,Winter,WI,restaurants,3,18,2,11,0,0,0,0,45.811835,-90.936657
883,54896.0,Winter,WI,shopping,1,2,0,0,0,0,0,0,45.821770,-91.011890
884,54896.0,Winter,WI,localservices,0,0,0,0,0,0,0,0,45.824829,-91.009369
885,54971.0,Ripon,WI,restaurants,9,93,8,258,0,0,0,0,43.844680,-88.854127
886,54971.0,Ripon,WI,shopping,1,3,5,6,2,4,0,0,43.847323,-88.844144
887,54971.0,Ripon,WI,localservices,0,0,0,0,0,0,0,0,43.850097,-88.845035
888,54982.0,Wautoma,WI,restaurants,9,51,4,119,0,0,0,0,44.067441,-89.272829
889,54982.0,Wautoma,WI,shopping,4,12,1,1,0,0,0,0,44.073207,-89.287963
890,54982.0,Wautoma,WI,localservices,0,0,0,0,0,0,0,0,44.056923,-89.277490
891,82060.0,NaN,NaN,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
892,82060.0,NaN,NaN,shopping,0,0,0,0,0,0,0,0,NaN,NaN
893,82060.0,NaN,NaN,localservices,0,0,0,0,0,0,0,0,NaN,NaN
894,82435.0,Powell,WY,restaurants,9,62,3,23,0,0,0,0,44.750184,-108.764515
895,82435.0,Powell,WY,shopping,3,7,4,5,1,1,0,0,44.752712,-108.762064
896,82435.0,Powell,WY,localservices,0,0,0,0,0,0,0,0,44.739695,-108.808187
897,83013.0,Moran,WY,restaurants,0,0,9,245,2,82,0,0,43.880504,-110.568188
898,83013.0,Moran,WY,shopping,0,0,0,0,0,0,0,0,NaN,NaN
899,83013.0,Moran,WY,localservices,0,0,0,0,0,0,0,0,NaN,NaN

In [80]:
tl_zip_df = tl_zip_df.append(tl_zip_200_500, ignore_index=True)
tl_zip_df.index = range(tl_zip_df.shape[0])

In [81]:
tl_zip_df.shape

(1500, 14)

In [148]:
%%time
first_500 = api_pull(zips_to_test.zipcode[:500], cats, limit=100)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:33: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

CPU times: user 1min 38s, sys: 1.66 s, total: 1min 39s
Wall time: 35min 47s

In [149]:
first_500.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,35016.0,Arab,AL,restaurants,4,19,7,55,0,0,0,0,34.333496,-86.500985
1,35016.0,Arab,AL,shopping,2,2,1,1,0,0,0,0,34.332486,-86.505100
2,35016.0,Arab,AL,localservices,0,0,0,0,0,0,0,0,34.344083,-86.487672
3,35071.0,NaN,NaN,restaurants,11,99,10,275,0,0,0,0,33.650618,-86.818072
4,35071.0,NaN,NaN,shopping,1,8,12,33,1,4,0,0,33.653353,-86.816955

In [150]:
first_500.shape

(1500, 14)

In [151]:
tl_zip_df.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long,db_city
0,65733,Protem,MO,restaurants,0,0,0,0,0,0,0,0,36.501162,-92.804624,Protem
1,65733,Protem,MO,shopping,0,0,0,0,0,0,0,0,36.520000,-92.850000,Protem
2,65733,Protem,MO,localservices,0,0,0,0,0,0,0,0,36.520000,-92.850000,Protem
3,65768,Vanzant,MO,restaurants,0,0,0,0,0,0,0,0,36.960000,-92.300000,Vanzant
4,65768,Vanzant,MO,shopping,0,0,0,0,0,0,0,0,36.960000,-92.300000,Vanzant

In [89]:
tl_zip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
zip         1500 non-null object
city        984 non-null object
state       984 non-null object
cat         1500 non-null object
pr_1        1500 non-null object
rv_1        1500 non-null object
pr_2        1500 non-null object
rv_2        1500 non-null object
pr_3        1500 non-null object
rv_3        1500 non-null object
pr_4        1500 non-null object
rv_4        1500 non-null object
avg_lat     945 non-null float64
avg_long    945 non-null float64
dtypes: float64(2), object(12)
memory usage: 164.1+ KB

In [155]:
st_ref_dict = {zips_to_test.zipcode[i]: zips_to_test.STATE[i] for i in range(1000)}

In [156]:
st_ref_dict

{'35016': 'AL',
 '35071': 'AL',
 '35210': 'AL',
 '35674': 'AL',
 '35677': 'AL',
 '35806': 'AL',
 '35972': 'AL',
 '36088': 'AL',
 '36093': 'AL',
 '36426': 'AL',
 '36441': 'AL',
 '36444': 'AL',
 '36529': 'AL',
 '36585': 'AL',
 '36605': 'AL',
 '36618': 'AL',
 '36784': 'AL',
 '36877': 'AL',
 '99578': 'AK',
 '99621': 'AK',
 '99826': 'AK',
 '85003': 'AZ',
 '85021': 'AZ',
 '85209': 'AZ',
 '85335': 'AZ',
 '86331': 'AZ',
 '86406': 'AZ',
 '86413': 'AZ',
 '71646': 'AR',
 '71837': 'AR',
 '71956': 'AR',
 '72068': 'AR',
 '72135': 'AR',
 '72415': 'AR',
 '72425': 'AR',
 '72450': 'AR',
 '72459': 'AR',
 '72569': 'AR',
 '72577': 'AR',
 '72633': 'AR',
 '72940': 'AR',
 '90039': 'CA',
 '90047': 'CA',
 '90062': 'CA',
 '91042': 'CA',
 '91325': 'CA',
 '91768': 'CA',
 '91790': 'CA',
 '91792': 'CA',
 '92056': 'CA',
 '92067': 'CA',
 '92121': 'CA',
 '92230': 'CA',
 '92242': 'CA',
 '92411': 'CA',
 '92532': 'CA',
 '92571': 'CA',
 '92704': 'CA',
 '92831': 'CA',
 '92865': 'CA',
 '93105': 'CA',
 '93117': 'CA',
 '93243': 'CA',
 '93261': 'CA',
 '93268': 'CA',
 '93313': 'CA',
 '93510': 'CA',
 '93518': 'CA',
 '93531': 'CA',
 '93940': 'CA',
 '94015': 'CA',
 '94085': 'CA',
 '94158': 'CA',
 '94514': 'CA',
 '94561': 'CA',
 '94591': 'CA',
 '94612': 'CA',
 '94710': 'CA',
 '95004': 'CA',
 '95023': 'CA',
 '95060': 'CA',
 '95111': 'CA',
 '95126': 'CA',
 '95258': 'CA',
 '95328': 'CA',
 '95336': 'CA',
 '95365': 'CA',
 '95388': 'CA',
 '95435': 'CA',
 '95439': 'CA',
 '95469': 'CA',
 '95527': 'CA',
 '95546': 'CA',
 '95567': 'CA',
 '95686': 'CA',
 '95689': 'CA',
 '95692': 'CA',
 '95864': 'CA',
 '95988': 'CA',
 '96016': 'CA',
 '80010': 'CO',
 '80019': 'CO',
 '80105': 'CO',
 '80207': 'CO',
 '80454': 'CO',
 '80477': 'CO',
 '80514': 'CO',
 '80540': 'CO',
 '80648': 'CO',
 '80735': 'CO',
 '80750': 'CO',
 '80951': 'CO',
 '81071': 'CO',
 '81073': 'CO',
 '81141': 'CO',
 '81433': 'CO',
 '81501': 'CO',
 '06021': 'CT',
 '06078': 'CT',
 '06241': 'CT',
 '06351': 'CT',
 '06365': 'CT',
 '06413': 'CT',
 '06473': 'CT',
 '06489': 'CT',
 '06770': 'CT',
 '19971': 'DE',
 '20019': 'DC',
 '32033': 'FL',
 '32124': 'FL',
 '32211': 'FL',
 '32223': 'FL',
 '32266': 'FL',
 '32305': 'FL',
 '32423': 'FL',
 '32430': 'FL',
 '32439': 'FL',
 '32445': 'FL',
 '32653': 'FL',
 '32696': 'FL',
 '32707': 'FL',
 '32837': 'FL',
 '32925': 'FL',
 '33014': 'FL',
 '33028': 'FL',
 '33051': 'FL',
 '33066': 'FL',
 '33154': 'FL',
 '33185': 'FL',
 '33334': 'FL',
 '33436': 'FL',
 '33572': 'FL',
 '33703': 'FL',
 '33716': 'FL',
 '33777': 'FL',
 '33854': 'FL',
 '33930': 'FL',
 '34105': 'FL',
 '34237': 'FL',
 '34433': 'FL',
 '34691': 'FL',
 '34741': 'FL',
 '30030': 'GA',
 '30087': 'GA',
 '30126': 'GA',
 '30152': 'GA',
 '30345': 'GA',
 '30346': 'GA',
 '30413': 'GA',
 '30721': 'GA',
 '30733': 'GA',
 '30828': 'GA',
 '31312': 'GA',
 '31558': 'GA',
 '31701': 'GA',
 '31805': 'GA',
 '31808': 'GA',
 '39846': 'GA',
 '96719': 'HI',
 '96790': 'HI',
 '83211': 'ID',
 '83543': 'ID',
 '83633': 'ID',
 '83830': 'ID',
 '83846': 'ID',
 '83872': 'ID',
 '60108': 'IL',
 '60157': 'IL',
 '60409': 'IL',
 '60410': 'IL',
 '60465': 'IL',
 '60657': 'IL',
 '60933': 'IL',
 '60936': 'IL',
 '61063': 'IL',
 '61104': 'IL',
 '61251': 'IL',
 '61285': 'IL',
 '61345': 'IL',
 '61472': 'IL',
 '61542': 'IL',
 '61815': 'IL',
 '61820': 'IL',
 '61844': 'IL',
 '61882': 'IL',
 '62082': 'IL',
 '62244': 'IL',
 '62343': 'IL',
 '62378': 'IL',
 '62434': 'IL',
 '62523': 'IL',
 '62668': 'IL',
 '62707': 'IL',
 '62818': 'IL',
 '62864': 'IL',
 '62893': 'IL',
 '62964': 'IL',
 '46001': 'IN',
 '46040': 'IN',
 '46044': 'IN',
 '46069': 'IN',
 '46151': 'IN',
 '46157': 'IN',
 '46176': 'IN',
 '46229': 'IN',
 '46356': 'IN',
 '46385': 'IN',
 '46391': 'IN',
 '46601': 'IN',
 '46628': 'IN',
 '46732': 'IN',
 '46767': 'IN',
 '46805': 'IN',
 '46933': 'IN',
 '47175': 'IN',
 '47235': 'IN',
 '47325': 'IN',
 '47373': 'IN',
 '47531': 'IN',
 '47535': 'IN',
 '47550': 'IN',
 '47568': 'IN',
 '47619': 'IN',
 '47660': 'IN',
 '47802': 'IN',
 '47861': 'IN',
 '47944': 'IN',
 '47993': 'IN',
 '50115': 'IA',
 '50147': 'IA',
 '50153': 'IA',
 '50206': 'IA',
 '50263': 'IA',
 '50266': 'IA',
 '50327': 'IA',
 '50448': 'IA',
 '50540': 'IA',
 '50557': 'IA',
 '50619': 'IA',
 '50651': 'IA',
 '50672': 'IA',
 '50843': 'IA',
 '51027': 'IA',
 '51049': 'IA',
 '51106': 'IA',
 '51108': 'IA',
 '51650': 'IA',
 '52035': 'IA',
 '52052': 'IA',
 '52072': 'IA',
 '52151': 'IA',
 '52160': 'IA',
 '52168': 'IA',
 '52171': 'IA',
 '52251': 'IA',
 '52320': 'IA',
 '52333': 'IA',
 '52565': 'IA',
 '52625': 'IA',
 '52753': 'IA',
 '52755': 'IA',
 '66061': 'KS',
 '66091': 'KS',
 '66214': 'KS',
 '66546': 'KS',
 '66743': 'KS',
 '67029': 'KS',
 '67037': 'KS',
 '67038': 'KS',
 '67118': 'KS',
 '67223': 'KS',
 '67330': 'KS',
 '67354': 'KS',
 '67441': 'KS',
 '67455': 'KS',
 '67623': 'KS',
 '67869': 'KS',
 '40033': 'KY',
 '40052': 'KY',
 '40068': 'KY',
 '40118': 'KY',
 '40171': 'KY',
 '40175': 'KY',
 '40210': 'KY',
 '40347': 'KY',
 '40370': 'KY',
 '40422': 'KY',
 '40484': 'KY',
 '40507': 'KY',
 '40940': 'KY',
 '40988': 'KY',
 '41051': 'KY',
 '41421': 'KY',
 '41659': 'KY',
 '41833': 'KY',
 '41862': 'KY',
 '42160': 'KY',
 '42266': 'KY',
 '42345': 'KY',
 '42409': 'KY',
 '42436': 'KY',
 '42453': 'KY',
 '42642': 'KY',
 '42649': 'KY',
 '42754': 'KY',
 '70353': 'LA',
 '70358': 'LA',
 '70448': 'LA',
 '70462': 'LA',
 '70517': 'LA',
 '70525': 'LA',
 '70581': 'LA',
 '70586': 'LA',
 '70710': 'LA',
 '70763': 'LA',
 '70772': 'LA',
 '70788': 'LA',
 '70817': 'LA',
 '71071': 'LA',
 '71220': 'LA',
 '71291': 'LA',
 '71369': 'LA',
 '04020': 'ME',
 '04049': 'ME',
 '04085': 'ME',
 '04224': 'ME',
 '04347': 'ME',
 '04359': 'ME',
 '04416': 'ME',
 '04554': 'ME',
 '04564': 'ME',
 '04606': 'ME',
 '04617': 'ME',
 '04743': 'ME',
 '04762': 'ME',
 '04763': 'ME',
 '04917': 'ME',
 '04969': 'ME',
 '20623': 'MD',
 '20674': 'MD',
 '20740': 'MD',
 '20751': 'MD',
 '20770': 'MD',
 '20886': 'MD',
 '21012': 'MD',
 '21048': 'MD',
 '21076': 'MD',
 '21117': 'MD',
 '21239': 'MD',
 '21502': 'MD',
 '21539': 'MD',
 '21550': 'MD',
 '21632': 'MD',
 '21654': 'MD',
 '21676': 'MD',
 '21758': 'MD',
 '21787': 'MD',
 '21813': 'MD',
 '01106': 'MA',
 '01109': 'MA',
 '01346': 'MA',
 '01440': 'MA',
 '01505': 'MA',
 '01721': 'MA',
 '01929': 'MA',
 '01945': 'MA',
 '01984': 'MA',
 '02025': 'MA',
 '02045': 'MA',
 '02360': 'MA',
 '02458': 'MA',
 '02481': 'MA',
 '02542': 'MA',
 '02543': 'MA',
 '02652': 'MA',
 '02747': 'MA',
 '02767': 'MA',
 '02770': 'MA',
 '48041': 'MI',
 '48054': 'MI',
 '48062': 'MI',
 '48064': 'MI',
 '48092': 'MI',
 '48096': 'MI',
 '48202': 'MI',
 '48212': 'MI',
 '48237': 'MI',
 '48417': 'MI',
 '48502': 'MI',
 '48601': 'MI',
 '48624': 'MI',
 '48662': 'MI',
 '48748': 'MI',
 '48875': 'MI',
 '49046': 'MI',
 '49076': 'MI',
 '49093': 'MI',
 '49103': 'MI',
 '49224': 'MI',
 '49240': 'MI',
 '49265': 'MI',
 '49326': 'MI',
 '49347': 'MI',
 '49629': 'MI',
 '49632': 'MI',
 '49649': 'MI',
 '49676': 'MI',
 '49733': 'MI',
 '49762': 'MI',
 '49895': 'MI',
 '49915': 'MI',
 '49953': 'MI',
 '49965': 'MI',
 '55055': 'MN',
 '55060': 'MN',
 '55073': 'MN',
 '55362': 'MN',
 '55382': 'MN',
 '55987': 'MN',
 '56003': 'MN',
 '56057': 'MN',
 '56080': 'MN',
 '56083': 'MN',
 '56098': 'MN',
 '56174': 'MN',
 '56216': 'MN',
 '56221': 'MN',
 '56241': 'MN',
 '56266': 'MN',
 '56303': 'MN',
 '56332': 'MN',
 '56442': 'MN',
 '56520': 'MN',
 '56556': 'MN',
 '56567': 'MN',
 '56573': 'MN',
 '56601': 'MN',
 '56725': 'MN',
 '56744': 'MN',
 '38683': 'MS',
 '38868': 'MS',
 '38927': 'MS',
 '39116': 'MS',
 '39146': 'MS',
 '39167': 'MS',
 '39176': 'MS',
 '39216': 'MS',
 '39348': 'MS',
 '63031': 'MO',
 '63044': 'MO',
 '63133': 'MO',
 '63431': 'MO',
 '63435': 'MO',
 '63538': 'MO',
 '63561': 'MO',
 '63828': 'MO',
 '63939': 'MO',
 '63943': 'MO',
 '64083': 'MO',
 '64120': 'MO',
 '64123': 'MO',
 '64625': 'MO',
 '64628': 'MO',
 '64635': 'MO',
 '64660': 'MO',
 '64667': 'MO',
 '64866': 'MO',
 '65239': 'MO',
 '65247': 'MO',
 '65254': 'MO',
 '65258': 'MO',
 '65285': 'MO',
 '65301': 'MO',
 '65486': 'MO',
 '65583': 'MO',
 '65588': 'MO',
 '65604': 'MO',
 '65637': 'MO',
 '65650': 'MO',
 '65731': 'MO',
 '65733': 'MO',
 '65768': 'MO',
 '65772': 'MO',
 '59001': 'MT',
 '59074': 'MT',
 '59215': 'MT',
 '59241': 'MT',
 '59414': 'MT',
 '59731': 'MT',
 '59750': 'MT',
 '59820': 'MT',
 '59866': 'MT',
 '68010': 'NE',
 '68047': 'NE',
 '68144': 'NE',
 '68341': 'NE',
 '68431': 'NE',
 '68455': 'NE',
 '68643': 'NE',
 '68757': 'NE',
 '68812': 'NE',
 '68850': 'NE',
 '68862': 'NE',
 '68935': 'NE',
 '68940': 'NE',
 '68941': 'NE',
 '68958': 'NE',
 '69022': 'NE',
 '69034': 'NE',
 '89008': 'NV',
 '89110': 'NV',
 '89130': 'NV',
 '89412': 'NV',
 '89423': 'NV',
 '89445': 'NV',
 '89821': 'NV',
 '03032': 'NH',
 '03044': 'NH',
 '03052': 'NH',
 '03076': 'NH',
 '03087': 'NH',
 '03261': 'NH',
 '03607': 'NH',
 '03837': 'NH',
 '03853': 'NH',
 '07016': 'NJ',
 '07046': 'NJ',
 '07078': 'NJ',
 '07423': 'NJ',
 '07438': 'NJ',
 '07444': 'NJ',
 '07647': 'NJ',
 '07751': 'NJ',
 '07760': 'NJ',
 '07821': 'NJ',
 '07927': 'NJ',
 '07932': 'NJ',
 '08007': 'NJ',
 '08061': 'NJ',
 '08066': 'NJ',
 '08073': 'NJ',
 '08080': 'NJ',
 '08081': 'NJ',
 '08105': 'NJ',
 '08812': 'NJ',
 '08830': 'NJ',
 '87013': 'NM',
 '87021': 'NM',
 '87036': 'NM',
 '87114': 'NM',
 '87701': 'NM',
 '87821': 'NM',
 '87936': 'NM',
 '87942': 'NM',
 '88318': 'NM',
 '88426': 'NM',
 '10035': 'NY',
 '10170': 'NY',
 '10588': 'NY',
 '10709': 'NY',
 '10917': 'NY',
 '10922': 'NY',
 '10956': 'NY',
 '10962': 'NY',
 '10987': 'NY',
 '11215': 'NY',
 '11542': 'NY',
 '11706': 'NY',
 '11959': 'NY',
 '12065': 'NY',
 '12070': 'NY',
 '12095': 'NY',
 '12108': 'NY',
 '12122': 'NY',
 '12136': 'NY',
 '12154': 'NY',
 '12418': 'NY',
 '12469': 'NY',
 '12501': 'NY',
 '12502': 'NY',
 '12531': 'NY',
 '12563': 'NY',
 '12592': 'NY',
 '12732': 'NY',
 '12834': 'NY',
 '12843': 'NY',
 '12917': 'NY',
 '13029': 'NY',
 '13034': 'NY',
 '13061': 'NY',
 '13308': 'NY',
 '13365': 'NY',
 '13603': 'NY',
 '13673': 'NY',
 '13678': 'NY',
 '13730': 'NY',
 '13780': 'NY',
 '13809': 'NY',
 '13811': 'NY',
 '13850': 'NY',
 '13862': 'NY',
 '13901': 'NY',
 '14134': 'NY',
 '14167': 'NY',
 '14170': 'NY',
 '14203': 'NY',
 '14304': 'NY',
 '14454': 'NY',
 '14710': 'NY',
 '14715': 'NY',
 '14847': 'NY',
 '14903': 'NY',
 '27018': 'NC',
 '27258': 'NC',
 '27560': 'NC',
 '27610': 'NC',
 '27705': 'NC',
 '27830': 'NC',
 '27874': 'NC',
 '27922': 'NC',
 '27929': 'NC',
 '27937': 'NC',
 '28174': 'NC',
 '28425': 'NC',
 '28433': 'NC',
 '28457': 'NC',
 '28643': 'NC',
 '58012': 'ND',
 '58052': 'ND',
 '58053': 'ND',
 '58059': 'ND',
 '58060': 'ND',
 '58061': 'ND',
 '58301': 'ND',
 '58384': 'ND',
 '58413': 'ND',
 '58563': 'ND',
 '58725': 'ND',
 '58843': 'ND',
 '58845': 'ND',
 '43056': 'OH',
 '43080': 'OH',
 '43204': 'OH',
 '43217': 'OH',
 '43222': 'OH',
 '43447': 'OH',
 '43607': 'OH',
 '43758': 'OH',
 '43945': 'OH',
 '44054': 'OH',
 '44149': 'OH',
 '44333': 'OH',
 '44514': 'OH',
 '44641': 'OH',
 '44805': 'OH',
 '44818': 'OH',
 '44866': 'OH',
 '45002': 'OH',
 '45118': 'OH',
 '45162': 'OH',
 '45223': 'OH',
 '45224': 'OH',
 '45378': 'OH',
 '45382': 'OH',
 '45385': 'OH',
 '45417': 'OH',
 '45628': 'OH',
 '45658': 'OH',
 '45696': 'OH',
 '45821': 'OH',
 '45865': 'OH',
 '73021': 'OK',
 '73027': 'OK',
 '73059': 'OK',
 '73080': 'OK',
 '73095': 'OK',
 '73128': 'OK',
 '73440': 'OK',
 '73505': 'OK',
 '73570': 'OK',
 '73722': 'OK',
 '73742': 'OK',
 '73835': 'OK',
 '73841': 'OK',
 '74115': 'OK',
 '74131': 'OK',
 '74333': 'OK',
 '74644': 'OK',
 '74734': 'OK',
 '74764': 'OK',
 '74827': 'OK',
 '74864': 'OK',
 '74881': 'OK',
 '74932': 'OK',
 '74944': 'OK',
 '74953': 'OK',
 '97070': 'OR',
 '97106': 'OR',
 '97450': 'OR',
 '97456': 'OR',
 '97526': 'OR',
 '97641': 'OR',
 '15017': 'PA',
 '15022': 'PA',
 '15110': 'PA',
 '15202': 'PA',
 '15218': 'PA',
 '15322': 'PA',
 '15436': 'PA',
 '15551': 'PA',
 '15849': 'PA',
 '15864': 'PA',
 '15948': 'PA',
 '15949': 'PA',
 '16030': 'PA',
 '16034': 'PA',
 '16037': 'PA',
 '16051': 'PA',
 '16055': 'PA',
 '16132': 'PA',
 '16239': 'PA',
 '16323': 'PA',
 '16415': 'PA',
 '16501': 'PA',
 '16647': 'PA',
 '16661': 'PA',
 '16665': 'PA',
 '16669': 'PA',
 '16673': 'PA',
 '16740': 'PA',
 '16936': 'PA',
 '17052': 'PA',
 '17058': 'PA',
 '17098': 'PA',
 '17268': 'PA',
 '17365': 'PA',
 '17366': 'PA',
 '17772': 'PA',
 '17812': 'PA',
 '17815': 'PA',
 '17846': 'PA',
 '17878': 'PA',
 '18103': 'PA',
 '18428': 'PA',
 '18451': 'PA',
 '18517': 'PA',
 '18519': 'PA',
 '18801': 'PA',
 '18833': 'PA',
 '18976': 'PA',
 '19004': 'PA',
 '19046': 'PA',
 '19150': 'PA',
 '19330': 'PA',
 '19342': 'PA',
 '19343': 'PA',
 '19344': 'PA',
 '19406': 'PA',
 '02813': 'RI',
 '02818': 'RI',
 '02857': 'RI',
 '02895': 'RI',
 '29072': 'SC',
 '29113': 'SC',
 '29172': 'SC',
 '29403': 'SC',
 '29543': 'SC',
 '29574': 'SC',
 '29607': 'SC',
 '29834': 'SC',
 '29845': 'SC',
 '29936': 'SC',
 '57266': 'SD',
 '57268': 'SD',
 '57317': 'SD',
 '57328': 'SD',
 '57384': 'SD',
 '57456': 'SD',
 '57472': 'SD',
 '57632': 'SD',
 '57759': 'SD',
 '57760': 'SD',
 '57762': 'SD',
 '57785': 'SD',
 '37062': 'TN',
 '37064': 'TN',
 '37079': 'TN',
 '37148': 'TN',
 '37306': 'TN',
 '37727': 'TN',
 '37731': 'TN',
 '37756': 'TN',
 '37760': 'TN',
 '37873': 'TN',
 '37920': 'TN',
 '38011': 'TN',
 '38049': 'TN',
 '38112': 'TN',
 '38241': 'TN',
 '38355': 'TN',
 '38506': 'TN',
 '38569': 'TN',
 '75092': 'TX',
 '75215': 'TX',
 '75234': 'TX',
 '75254': 'TX',
 '75477': 'TX',
 '75490': 'TX',
 '75762': 'TX',
 '75840': 'TX',
 '75845': 'TX',
 '75850': 'TX',
 '75980': 'TX',
 '76011': 'TX',
 '76031': 'TX',
 '76040': 'TX',
 '76123': 'TX',
 '76133': 'TX',
 '76247': 'TX',
 '76457': 'TX',
 '76466': 'TX',
 '76569': 'TX',
 '76627': 'TX',
 '76665': 'TX',
 '76701': 'TX',
 '77008': 'TX',
 '77009': 'TX',
 '77059': 'TX',
 '77090': 'TX',
 '77316': 'TX',
 '77334': 'TX',
 '77401': 'TX',
 '77433': 'TX',
 '77476': 'TX',
 '77510': 'TX',
 '77541': 'TX',
 '77547': 'TX',
 '77612': 'TX',
 '77640': 'TX',
 '78009': 'TX',
 '78010': 'TX',
 '78056': 'TX',
 '78066': 'TX',
 '78104': 'TX',
 '78116': 'TX',
 '78160': 'TX',
 '78229': 'TX',
 '78254': 'TX',
 '78256': 'TX',
 '78335': 'TX',
 '78341': 'TX',
 '78606': 'TX',
 '78626': 'TX',
 '78757': 'TX',
 '78877': 'TX',
 '79001': 'TX',
 '79036': 'TX',
 '79261': 'TX',
 '79359': 'TX',
 '79567': 'TX',
 '79602': 'TX',
 '79849': 'TX',
 '79904': 'TX',
 '84022': 'UT',
 '84062': 'UT',
 '84119': 'UT',
 '84324': 'UT',
 '84627': 'UT',
 '84655': 'UT',
 '84739': 'UT',
 '84761': 'UT',
 '84775': 'UT',
 '05048': 'VT',
 '05081': 'VT',
 '05667': 'VT',
 '05770': 'VT',
 '05825': 'VT',
 '20136': 'VA',
 '20141': 'VA',
 '20152': 'VA',
 '20180': 'VA',
 '20186': 'VA',
 '22151': 'VA',
 '22304': 'VA',
 '22406': 'VA',
 '22482': 'VA',
 '22603': 'VA',
 '22831': 'VA',
 '22952': 'VA',
 '23503': 'VA',
 '23663': 'VA',
 '23833': 'VA',
 '23834': 'VA',
 '23894': 'VA',
 '23963': 'VA',
 '23964': 'VA',
 '23967': 'VA',
 '24011': 'VA',
 '24082': 'VA',
 '24112': 'VA',
 '24137': 'VA',
 '24161': 'VA',
 '24171': 'VA',
 '24216': 'VA',
 '24239': 'VA',
 '24474': 'VA',
 '24549': 'VA',
 '24572': 'VA',
 '98024': 'WA',
 '98027': 'WA',
 '98031': 'WA',
 '98057': 'WA',
 '98101': 'WA',
 '98118': 'WA',
 '98251': 'WA',
 '98321': 'WA',
 '98338': 'WA',
 '98355': 'WA',
 '98359': 'WA',
 '98391': 'WA',
 '98409': 'WA',
 '98418': 'WA',
 '98512': 'WA',
 '98544': 'WA',
 '98584': 'WA',
 '98605': 'WA',
 '98628': 'WA',
 '98814': 'WA',
 '98817': 'WA',
 '98828': 'WA',
 '98843': 'WA',
 '99001': 'WA',
 '99025': 'WA',
 '99344': 'WA',
 '99350': 'WA',
 '99357': 'WA',
 '25007': 'WV',
 '25081': 'WV',
 '25159': 'WV',
 '25169': 'WV',
 '25209': 'WV',
 '25243': 'WV',
 '25253': 'WV',
 '25268': 'WV',
 '25275': 'WV',
 '25403': 'WV',
 '25404': 'WV',
 '25524': 'WV',
 '25559': 'WV',
 '25825': 'WV',
 '25921': 'WV',
 '26056': 'WV',
 '26059': 'WV',
 '26104': 'WV',
 '26273': 'WV',
 '26321': 'WV',
 '26385': 'WV',
 '26581': 'WV',
 '53217': 'WI',
 '53581': 'WI',
 '53583': 'WI',
 '53704': 'WI',
 '53916': 'WI',
 '53954': 'WI',
 '54141': 'WI',
 '54173': 'WI',
 '54424': 'WI',
 '54441': 'WI',
 '54560': 'WI',
 '54566': 'WI',
 '54720': 'WI',
 '54754': 'WI',
 '54850': 'WI',
 '54874': 'WI',
 '54896': 'WI',
 '54971': 'WI',
 '54982': 'WI',
 '82060': 'WY',
 '82435': 'WY',
 '83013': 'WY'}

In [104]:
tl_zip_df.zip = tl_zip_df.zip.str.split('.', expand=True)[0]

In [152]:
first_500.zip = first_500.zip.str.split('.', expand=True)[0]

In [107]:
tl_zip_df.zip = tl_zip_df.zip.map(lambda x: '0'+str(x) if int(x) <= 9999 else x)

In [153]:
first_500.zip = first_500.zip.map(lambda x: '0'+str(x) if int(x) <= 9999 else x)

In [108]:
tl_zip_df.state = tl_zip_df.zip.map(lambda x: st_ref_dict[x])

In [157]:
first_500.state = first_500.zip.map(lambda x: st_ref_dict[x])

In [109]:
tl_zip_df.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,65733,Protem,MO,restaurants,0,0,0,0,0,0,0,0,36.501162,-92.804624
1,65733,Protem,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN
2,65733,Protem,MO,localservices,0,0,0,0,0,0,0,0,NaN,NaN
3,65768,NaN,MO,restaurants,0,0,0,0,0,0,0,0,NaN,NaN
4,65768,NaN,MO,shopping,0,0,0,0,0,0,0,0,NaN,NaN

In [158]:
first_500.head()

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long
0,35016,Arab,AL,restaurants,4,19,7,55,0,0,0,0,34.333496,-86.500985
1,35016,Arab,AL,shopping,2,2,1,1,0,0,0,0,34.332486,-86.505100
2,35016,Arab,AL,localservices,0,0,0,0,0,0,0,0,34.344083,-86.487672
3,35071,NaN,AL,restaurants,11,99,10,275,0,0,0,0,33.650618,-86.818072
4,35071,NaN,AL,shopping,1,8,12,33,1,4,0,0,33.653353,-86.816955

ZIP Code Database: https://www.unitedstateszipcodes.org/zip-code-database/

In [113]:
zip_db = pd.read_csv('./zip_code_database.csv', dtype={'zip':str})

In [114]:
zip_db.head()

,zip,type,decommissioned,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,world_region,country,latitude,longitude,irs_estimated_population_2015
0,00501,UNIQUE,0,Holtsville,NaN,I R S Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,562
1,00544,UNIQUE,0,Holtsville,NaN,Irs Service Center,NY,Suffolk County,America/New_York,631,NaN,US,40.81,-73.04,0
2,00601,STANDARD,0,Adjuntas,NaN,"Colinas Del Gigante, Jard De Adjuntas, Urb San...",PR,Adjuntas Municipio,America/Puerto_Rico,"787,939",NaN,US,18.16,-66.72,0
3,00602,STANDARD,0,Aguada,NaN,"Alts De Aguada, Bo Guaniquilla, Comunidad Las ...",PR,Aguada Municipio,America/Puerto_Rico,"787,939",NaN,US,18.38,-67.18,0
4,00603,STANDARD,0,Aguadilla,Ramey,"Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...",PR,Aguadilla Municipio,America/Puerto_Rico,787,NaN,US,18.43,-67.15,0

In [120]:
city_ref_dict = {zip_db.zip[i]: zip_db.primary_city[i] for i in range(zip_db.shape[0])}

In [136]:
lat_map = {zip_db.zip[i]: zip_db.latitude[i] for i in range(zip_db.shape[0])}
long_map = {zip_db.zip[i]: zip_db.longitude[i] for i in range(zip_db.shape[0])}

In [121]:
tl_zip_df['db_city'] = tl_zip_df.zip.map(lambda x: city_ref_dict[x])

In [159]:
first_500['db_city'] = first_500.zip.map(lambda x: city_ref_dict[x])

In [126]:
tl_zip_df[tl_zip_df.city.notnull()&(tl_zip_df.city.str.lower().str.strip()!=tl_zip_df.db_city.str.lower().str.strip())]

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long,db_city
96,89412,Black Rock City,NV,restaurants,3,82,0,0,0,0,1,2,40.949669,-119.442716,Gerlach
97,89412,Black Rock City,NV,shopping,0,0,0,0,0,0,0,0,NaN,NaN,Gerlach
98,89412,Black Rock City,NV,localservices,0,0,0,0,0,0,0,0,40.652578,-119.352507,Gerlach
141,07078,Millburn,NJ,restaurants,4,173,4,454,1,61,0,0,40.721942,-74.326457,Short Hills
142,07078,Millburn,NJ,shopping,1,10,7,67,6,26,1,4,40.724981,-74.332610,Short Hills
143,07078,Millburn,NJ,localservices,0,0,1,9,0,0,0,0,40.724539,-74.326581,Short Hills
150,07444,Pequannock,NJ,restaurants,10,267,7,955,0,0,0,0,40.966394,-74.289717,Pompton Plains
151,07444,Pequannock,NJ,shopping,3,19,10,90,4,29,0,0,40.969180,-74.288886,Pompton Plains
152,07444,Pequannock,NJ,localservices,0,0,0,0,0,0,0,0,40.968186,-74.291872,Pompton Plains
192,08812,Green Brook Township,NJ,restaurants,21,674,21,1371,0,0,0,0,40.595225,-74.474226,Dunellen
193,08812,Green Brook Township,NJ,shopping,3,11,16,150,5,54,2,14,40.595055,-74.485794,Dunellen
194,08812,Green Brook Township,NJ,localservices,1,8,1,3,0,0,0,0,40.594099,-74.476426,Dunellen
240,10917,Woodbury,NY,restaurants,11,157,12,777,0,0,0,0,41.320803,-74.124551,Central Valley
241,10917,Woodbury,NY,shopping,3,5,24,765,30,184,13,47,41.316966,-74.126159,Central Valley
242,10917,Woodbury,NY,localservices,0,0,0,0,0,0,0,0,41.321297,-74.124546,Central Valley
513,44333,Fairlawn,OH,restaurants,24,534,40,2773,4,292,0,0,41.133680,-81.628679,Akron
514,44333,Fairlawn,OH,shopping,8,35,30,192,11,52,4,57,41.133533,-81.625005,Akron
515,44333,Fairlawn,OH,localservices,2,14,4,21,0,0,3,47,41.135865,-81.627873,Akron
516,44514,Poland,OH,restaurants,13,170,10,348,1,20,0,0,41.018236,-80.617638,Youngstown
517,44514,Poland,OH,shopping,4,19,3,6,3,8,0,0,41.020931,-80.623663,Youngstown
518,44514,Poland,OH,localservices,0,0,0,0,0,0,0,0,41.001531,-80.610978,Youngstown
600,73722,Byron,OK,restaurants,0,0,0,0,0,0,0,0,36.900241,-98.358069,Burlington
601,73722,Byron,OK,shopping,0,0,0,0,0,0,0,0,NaN,NaN,Burlington
602,73722,Byron,OK,localservices,0,0,0,0,0,0,0,0,NaN,NaN,Burlington
675,15202,Avalon,PA,restaurants,20,488,10,460,1,35,0,0,40.498025,-80.065812,Pittsburgh
676,15202,Avalon,PA,shopping,3,45,8,56,0,0,0,0,40.496930,-80.060718,Pittsburgh
677,15202,Avalon,PA,localservices,2,4,2,8,0,0,0,0,40.500987,-80.068433,Pittsburgh
798,18519,Dickson City,PA,restaurants,6,70,20,837,0,0,0,0,41.462220,-75.636832,Scranton
799,18519,Dickson City,PA,shopping,3,23,19,107,7,27,0,0,41.461954,-75.640375,Scranton
800,18519,Dickson City,PA,localservices,0,0,1,8,0,0,0,0,41.459073,-75.636933,Scranton
960,38506,Algood,TN,restaurants,4,23,1,25,0,0,0,0,36.179028,-85.456778,Cookeville
961,38506,Algood,TN,shopping,1,2,8,22,1,2,0,0,36.171007,-85.466911,Cookeville
962,38506,Algood,TN,localservices,0,0,0,0,0,0,0,0,36.149700,-85.502181,Cookeville
984,75762,Flint (Noonday),TX,restaurants,3,60,2,99,0,0,0,0,32.198563,-95.407041,Flint
985,75762,Flint (Noonday),TX,shopping,0,0,1,4,0,0,1,3,32.195616,-95.413199,Flint
986,75762,Flint (Noonday),TX,localservices,0,0,0,0,0,0,0,0,32.217107,-95.342414,Flint
1155,84119,West Valley City,UT,restaurants,48,2296,30,2324,0,0,0,0,40.698630,-111.948777,Salt Lake City
1156,84119,West Valley City,UT,shopping,11,125,27,236,8,30,1,4,40.699564,-111.950183,Salt Lake City
1157,84119,West Valley City,UT,localservices,2,3,5,35,1,4,0,0,40.706157,-111.945336,Salt Lake City
1197,20152,South Riding,VA,restaurants,18,892,16,2047,1,23,0,0,38.923689,-77.513977,Chantilly
1198,20152,South Riding,VA,shopping,3,32,12,251,3,43,0,0,38.922212,-77.508494,Chantilly
1199,20152,South Riding,VA,localservices,1,13,2,19,0,0,0,0,38.912667,-77.514963,Chantilly
1452,54141,Oconto,WI,restaurants,0,0,2,27,0,0,0,0,44.731438,-88.020820,Little Suamico
1453,54141,Oconto,WI,shopping,0,0,0,0,0,0,0,0,44.715670,-88.029785,Little Suamico
1454,54141,Oconto,WI,localservices,0,0,0,0,0,0,0,0,NaN,NaN,Little Suamico

In [130]:
tl_zip_df.loc[tl_zip_df[tl_zip_df.city.isnull()].index, 'city'] = tl_zip_df[tl_zip_df.city.isnull()]['db_city']

In [160]:
first_500.loc[first_500[first_500.city.isnull()].index, 'city'] = first_500[first_500.city.isnull()]['db_city']

In [143]:
tl_zip_df.loc[tl_zip_df[tl_zip_df.avg_lat.isnull()].index, 'avg_lat'] = tl_zip_df[tl_zip_df.avg_lat.isnull()].zip.map(lambda x: lat_map[x])
tl_zip_df.loc[tl_zip_df[tl_zip_df.avg_long.isnull()].index, 'avg_long'] = tl_zip_df[tl_zip_df.avg_long.isnull()].zip.map(lambda x: long_map[x])

In [161]:
first_500.loc[first_500[first_500.avg_lat.isnull()].index, 'avg_lat'] = first_500[first_500.avg_lat.isnull()].zip.map(lambda x: lat_map[x])
first_500.loc[first_500[first_500.avg_long.isnull()].index, 'avg_long'] = first_500[first_500.avg_long.isnull()].zip.map(lambda x: long_map[x])

In [144]:
tl_zip_df.sample(50)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long,db_city
607,73835,Camargo,OK,shopping,0,0,0,0,0,0,0,0,36.010000,-99.280000,Camargo
1424,26273,Huttonsville,WV,localservices,0,0,0,0,0,0,0,0,38.710000,-79.970000,Huttonsville
340,13673,Philadelphia,NY,shopping,0,0,0,0,0,0,0,0,44.150240,-75.708470,Philadelphia
193,08812,Green Brook Township,NJ,shopping,3,11,16,150,5,54,2,14,40.595055,-74.485794,Dunellen
895,57472,Selby,SD,shopping,0,0,0,0,0,0,0,0,45.500000,-100.030000,Selby
401,27258,Haw River,NC,localservices,0,0,0,0,0,0,0,0,36.033836,-79.352387,Haw River
778,17815,Bloomsburg,PA,shopping,3,34,4,10,3,13,4,16,41.007759,-76.454785,Bloomsburg
1027,76627,Blum,TX,shopping,0,0,0,0,1,14,0,0,32.142830,-97.397438,Blum
882,57317,Bonesteel,SD,restaurants,0,0,0,0,0,0,0,0,43.070000,-98.940000,Bonesteel
1251,24011,Roanoke,VA,restaurants,12,708,24,1913,2,230,1,85,37.271495,-79.940044,Roanoke
106,89821,Crescent Valley,NV,shopping,0,0,0,0,0,0,0,0,40.520000,-116.360000,Crescent Valley
213,87821,Datil,NM,restaurants,0,0,1,33,0,0,0,0,34.145207,-107.843776,Datil
220,87942,Williamsburg,NM,shopping,0,0,0,0,0,0,0,0,33.060000,-107.350000,Williamsburg
774,17812,Beaver Springs,PA,restaurants,0,0,1,2,0,0,0,0,40.748557,-77.209733,Beaver Springs
98,89412,Black Rock City,NV,localservices,0,0,0,0,0,0,0,0,40.652578,-119.352507,Gerlach
1056,77433,Cypress,TX,restaurants,13,910,23,2625,0,0,0,0,29.935617,-95.696227,Cypress
821,19330,Cochranville,PA,localservices,0,0,0,0,0,0,0,0,39.870000,-75.920000,Cochranville
1045,77090,Houston,TX,shopping,9,54,36,360,5,62,1,4,30.007978,-95.440816,Houston
1455,54173,Suamico,WI,restaurants,1,15,1,34,1,89,0,0,44.632674,-88.050662,Suamico
541,45223,Cincinnati,OH,shopping,4,65,10,210,4,12,0,0,39.161925,-84.541253,Cincinnati
857,29403,Charleston,SC,localservices,1,2,3,74,1,8,0,0,32.795480,-79.945473,Charleston
373,14170,West Falls,NY,shopping,0,0,0,0,0,0,0,0,42.700000,-78.670000,West Falls
97,89412,Black Rock City,NV,shopping,0,0,0,0,0,0,0,0,40.860000,-119.320000,Gerlach
1020,76466,Olden,TX,restaurants,0,0,0,0,0,0,0,0,32.420000,-98.730000,Olden
856,29403,Charleston,SC,shopping,4,40,15,206,11,81,1,1,32.790517,-79.941475,Charleston
404,27560,Morrisville,NC,localservices,2,42,4,23,2,14,0,0,35.838749,-78.827189,Morrisville
864,29607,Greenville,SC,restaurants,18,565,28,2969,0,0,0,0,34.827262,-82.317302,Greenville
365,13901,Binghamton,NY,localservices,0,0,1,4,0,0,0,0,42.131092,-75.897385,Binghamton
1463,54441,Hewitt,WI,localservices,0,0,0,0,0,0,0,0,44.640000,-90.100000,Hewitt
909,57785,Sturgis,SD,restaurants,6,74,6,186,0,0,0,0,44.410745,-103.514191,Sturgis
1432,26581,Littleton,WV,shopping,0,0,0,0,0,0,0,0,39.690000,-80.510000,Littleton
1154,84062,Pleasant Grove,UT,localservices,0,0,0,0,0,0,0,0,40.361270,-111.743790,Pleasant Grove
765,17365,Wellsville,PA,restaurants,1,6,2,22,0,0,0,0,40.070812,-76.923049,Wellsville
1428,26385,Lost Creek,WV,restaurants,0,0,0,0,0,0,0,0,39.150000,-80.350000,Lost Creek
1437,53581,Richland Center,WI,restaurants,2,16,5,32,0,0,0,0,43.329967,-90.384725,Richland Center
1416,26059,Triadelphia,WV,restaurants,4,51,13,510,0,0,0,0,40.059075,-80.599595,Triadelphia
87,89008,Caliente,NV,restaurants,2,52,1,9,0,0,0,0,37.612857,-114.515463,Caliente
1271,24216,Appalachia,VA,localservices,0,0,0,0,0,0,0,0,36.900000,-82.780000,Appalachia
461,58301,Devils Lake,ND,localservices,0,0,0,0,0,0,0,0,48.110950,-98.864720,Devils Lake
877,57266,Summit,SD,shopping,0,0,0,0,0,0,0,0,45.300000,-97.030000,Summit
498,43607,Toledo,OH,restaurants,13,268,1,55,0,0,0,0,41.652238,-83.621313,Toledo
84,69034,Indianola,NE,restaurants,0,0,0,0,0,0,0,0,40.235020,-100.416840,Indianola
272,12070,Fort Johnson,NY,localservices,0,0,0,0,0,0,0,0,42.956840,-74.233090,Fort Johnson
705,16034,Fenelton,PA,restaurants,1,3,0,0,0,0,0,0,40.852522,-79.693767,Fenelton
476,58843,Epping,ND,localservices,0,0,0,0,0,0,0,0,48.280000,-103.350000,Epping
711,16051,Portersville,PA,restaurants,3,56,0,0,0,0,0,0,40.945988,-80.144837,Portersville
136,07016,Cranford,NJ,shopping,3,26,18,194,5,32,1,17,40.654398,-74.301572,Cranford
396,27018,East Bend,NC,restaurants,0,0,1,38,0,0,0,0,36.214458,-80.501586,East Bend
696,15948,Revloc,PA,restaurants,0,0,0,0,0,0,0,0,40.490000,-78.760000,Revloc
723,16323,Franklin,PA,restaurants,4,35,8,114,0,0,0,0,41.398583,-79.826178,Franklin

In [145]:
tl_zip_df.isnull().sum()

zip         0
city        0
state       0
cat         0
pr_1        0
rv_1        0
pr_2        0
rv_2        0
pr_3        0
rv_3        0
pr_4        0
rv_4        0
avg_lat     0
avg_long    0
db_city     0
dtype: int64

In [162]:
first_500.sample(50)

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long,db_city
1452,64660,Mendon,MO,restaurants,0,0,0,0,0,0,0,0,39.590000,-93.130000,Mendon
294,95988,Willows,CA,restaurants,10,336,6,606,0,0,0,0,39.524096,-122.212628,Willows
348,81501,Grand Junction,CO,restaurants,25,686,41,3962,3,376,0,0,39.073968,-108.557067,Grand Junction
405,32430,Clarksville,FL,restaurants,0,0,0,0,0,0,0,0,30.430000,-85.180000,Clarksville
673,46229,Indianapolis,IN,shopping,12,67,21,118,8,40,1,7,39.776632,-85.987275,Indianapolis
1272,49632,Falmouth,MI,restaurants,1,9,0,0,0,0,0,0,44.243549,-85.085030,Falmouth
193,93268,Taft,CA,shopping,1,4,2,9,1,5,0,0,35.144874,-119.462652,Taft
1309,55362,Monticello,MN,shopping,3,7,4,5,2,4,1,4,45.296198,-93.791848,Monticello
412,32445,Malone,FL,shopping,0,0,0,0,0,0,0,0,30.950000,-85.160000,Malone
619,62244,Fults,IL,shopping,0,0,1,2,0,0,0,0,38.229660,-90.184260,Fults
1197,48054,East China,MI,restaurants,0,0,0,0,0,0,0,0,42.770542,-82.488706,East China
450,33436,Boynton Beach,FL,restaurants,14,689,10,722,0,0,0,0,26.532025,-80.111639,Boynton Beach
1226,48502,Flint,MI,localservices,0,0,1,3,0,0,0,0,43.008954,-83.702139,Flint
275,95527,Hawkins Bar,CA,localservices,0,0,0,0,0,0,0,0,40.950000,-123.430000,Burnt Ranch
941,41659,Stanville,KY,localservices,0,0,0,0,0,0,0,0,37.580000,-82.620000,Stanville
1375,56744,Oslo,MN,shopping,0,0,0,0,0,0,0,0,48.190000,-97.120000,Oslo
823,52251,Ladora,IA,shopping,0,0,0,0,0,0,0,0,41.750000,-92.180000,Ladora
242,95060,Santa Cruz,CA,localservices,0,0,0,0,0,0,0,0,37.044061,-122.103221,Santa Cruz
332,80750,Snyder,CO,localservices,0,0,0,0,0,0,0,0,40.333760,-103.595318,Snyder
225,94591,Vallejo,CA,restaurants,33,3784,24,4292,0,0,0,0,38.113298,-122.219985,Vallejo
92,71956,Mountain Pine,AR,localservices,0,0,0,0,0,0,0,0,34.673242,-93.209225,Mountain Pine
151,92067,Rancho Santa Fe,CA,shopping,1,2,3,59,3,22,0,0,33.015512,-117.200463,Rancho Santa Fe
213,94085,Sunnyvale,CA,restaurants,22,4299,16,6080,0,0,0,0,37.388383,-122.016681,Sunnyvale
268,95439,Fulton,CA,shopping,1,10,2,79,1,3,0,0,38.493965,-122.769931,Fulton
916,40370,Sadieville,KY,shopping,0,0,0,0,0,0,0,0,38.390000,-84.530000,Sadieville
1497,65731,Powersite,MO,restaurants,0,0,0,0,0,0,0,0,36.650000,-93.120000,Powersite
1284,49762,Naubinway,MI,restaurants,3,33,1,29,0,0,0,0,46.071881,-85.302917,Naubinway
874,67330,Altamont,KS,shopping,0,0,0,0,0,0,0,0,37.192816,-95.302148,Altamont
939,41659,Stanville,KY,restaurants,0,0,0,0,0,0,0,0,37.580000,-82.620000,Stanville
658,46044,Frankton,IN,shopping,0,0,0,0,0,0,0,0,40.220000,-85.770000,Frankton
481,34691,Holiday,FL,shopping,2,8,6,31,0,0,1,3,28.193554,-82.742004,Holiday
1214,48202,Detroit,MI,localservices,0,0,1,11,0,0,0,0,42.367826,-83.075283,Detroit
982,70448,Mandeville,LA,shopping,7,38,13,50,4,13,0,0,30.369568,-90.067471,Mandeville
1485,65588,Winona,MO,restaurants,1,6,0,0,0,0,0,0,37.005610,-91.323825,Winona
350,81501,Grand Junction,CO,localservices,0,0,3,21,1,7,0,0,39.069795,-108.556239,Grand Junction
1478,65301,Sedalia,MO,localservices,0,0,2,6,0,0,0,0,38.708516,-93.243363,Sedalia
962,42436,Manitou,KY,localservices,0,0,0,0,0,0,0,0,37.410000,-87.570000,Manitou
1450,64635,Chula,MO,shopping,0,0,0,0,0,0,0,0,39.920000,-93.470000,Chula
252,95328,Keyes,CA,restaurants,1,33,0,0,0,0,0,0,37.557314,-120.913097,Keyes
611,61844,Fithian,IL,localservices,0,0,0,0,0,0,0,0,40.110000,-87.870000,Fithian
560,60108,Bloomingdale,IL,localservices,1,7,8,98,2,9,1,5,41.948782,-88.100103,Bloomingdale
1154,01929,Essex,MA,localservices,0,0,0,0,0,0,0,0,42.630907,-70.782359,Essex
588,61251,Fenton,IL,restaurants,0,0,0,0,0,0,0,0,41.730000,-90.030000,Fenton
134,91042,Tujunga,CA,localservices,5,140,2,45,0,0,0,0,34.250543,-118.285584,Tujunga
210,94015,Daly City,CA,restaurants,38,7503,22,10458,1,456,0,0,37.678748,-122.474882,Daly City
1356,56520,Breckenridge,MN,restaurants,0,0,1,22,0,0,0,0,46.263567,-96.591881,Breckenridge
656,46040,Fortville,IN,localservices,0,0,0,0,0,0,0,0,39.942390,-85.840783,Fortville
106,72450,Paragould,AR,shopping,2,2,6,11,2,3,0,0,36.056803,-90.508091,Paragould
1055,04606,Addison,ME,localservices,0,0,0,0,0,0,0,0,44.540000,-67.710000,Addison
566,60409,Calumet City,IL,localservices,0,0,1,3,0,0,0,0,41.610224,-87.555063,Calumet City

In [147]:
tl_zip_df[tl_zip_df.zip=='68144']

,zip,city,state,cat,pr_1,rv_1,pr_2,rv_2,pr_3,rv_3,pr_4,rv_4,avg_lat,avg_long,db_city
42,68144,Omaha,NE,restaurants,41,1077,24,1892,1,173,0,0,41.235192,-96.119771,Omaha
43,68144,Omaha,NE,shopping,9,101,47,288,8,74,3,10,41.231707,-96.122419,Omaha
44,68144,Omaha,NE,localservices,1,5,6,46,0,0,0,0,41.231717,-96.118715,Omaha

In [146]:
tl_zip_df.to_csv('api_data_501_1000.csv', index=False)

In [164]:
api_1000 = first_500.append(tl_zip_df, ignore_index=True)

In [165]:
api_1000.to_csv('api_1000.csv', index=False)